@use "../../../design-system/colors";
@use "../../../design-system/typography/styles";
@use "../../../design-system/typography/weights";
@use "../../../design-system/shadows";

.connect.wallet.modal {
  width: 397px;
  overflow-y: visible;

  .wallet.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: colors.$primary-600;
    background-color: colors.$primary-100;
    width: max-content;
    border-radius: 50%;
    box-shadow: 0 0 0 8px colors.$primary-50;
    margin-bottom: 16px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .DialogDescription {
    margin-top: 4px;
    margin-bottom: 24px;
    color: colors.$gray-600;

    a {
      color: colors.$gray-600;
      text-decoration: underline;
    }
  }

  .ui.secondary.gray.button {
    width: 100%;
    margin-top: 12px;
    justify-content: center;

    &:disabled {
      opacity: 0.5;
    }

    .content {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .light.only {
      display: inline-block;

      .dark & {
        display: none;
      }
    }

    .dark.only {
      display: none;

      .dark & {
        display: inline-block;
      }
    }
  }

  div.error {
    padding: 16px;
    border: 1px solid colors.$error-300;
    border-radius: 12px;
    background: colors.$error-25;
    color: white;
    
    position: absolute;
    width: 100%;
    top: calc(100% + 16px);
    left: 0;

    display: flex;
    align-items: flex-start;
    gap: 12px;

    .icon {
      color: colors.$error-600;
    }

    .content {
      color: colors.$error-700;

      .title {
        @include styles.text-md;
        @include weights.semibold;
        margin-bottom: 4px;
      }
      
      .description {
        @include styles.text-sm;
        @include weights.regular;
      }
    }
  }
}

.dark .connect.wallet.modal {
  .wallet.icon {
    color: colors.$white;
    background-color: colors.$gray-600;
    box-shadow: 0 0 0 8px colors.$gray-700;
  }

  .DialogDescription {
    color: colors.$gray-25;

    a {
      color: colors.$gray-25;
    }
  }

  .ui.secondary.gray.button {
    background-color: colors.$black-800;
    border-color: colors.$gray-800;
    color: colors.$base-white;
  }

  div.error {
    border-color: colors.$error-300;
    background: colors.$black-800;

    div.icon {
      color: colors.$error-300;
    }

    div.content {
      color: colors.$base-white;
    }
  }
}
