@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.marketplace.options.container {
  @include utils.full-width-container;
  margin-bottom: 96px;

  .inner.container {
    padding: 0  0 96px;
    
    .networks.section {
      padding: 96px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 32px;
      
      @media (max-width: 767px) {
        gap: 16px;
        flex-direction: column;
      }

      .network.item {
        border-radius: 12px;
        padding: 48px 16px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
  
        &:hover, &:focus-visible {
          background-color: colors.$gray-100;
        }
  
        svg {
          width: 112px;
          height: 112px;
        }
  
        @media (max-width: 767px) {
          padding: 16px 8px;
  
          svg {
            width: 80px;
            height: 80px;
          }
        }
  
        i[data-mode="light"] {
          display: block;
        }
  
        i[data-mode="dark"] {
          display: none;
        }
  
        .text.container {
          text-align: center;
          padding: 0 14px;
  
          p.name {
            @include styles.display-xs;
            @include weights.semibold;
            color: colors.$black;
            
            @media (max-width: 767px) {
              @include styles.text-lg;
            }
          }
          
          p.text {
            @include styles.text-sm;
            @include weights.regular;
            color: colors.$gray-900;
            margin-top: 4px;
          }
        }
      }
    }

    .get.npm.section {
      padding-bottom: 58px;

      .header {
        max-width: 768px;
        text-align: center;
        margin: 0 auto;
        
        p.title {
          @include styles.display-md;
          @include weights.semibold;
          color: colors.$gray-900;
        }
        
        p.desc {
          margin-top: 20px;
          @include styles.text-xl;
          color: colors.$gray-600;
        }
      }

      .swaps {
        margin-top: 64px;
        display: flex;
        justify-content: center;
        gap: 24px;
        
        .swap.container {
          width: 396px;
          border-radius: 12px;
          padding: 24px;
          background-color: colors.$gray-50;
          display: flex;
          flex-direction: column;

          .swap.logo svg {
            width: 56px;
            height: auto;
          }

          .swap.link {
            display: flex;
            flex-direction: column;
            flex: 1;
            justify-content: flex-end;
            align-items: flex-start;
          }

          .title {
            margin-top: 32px;
            @include styles.text-xl;
            @include weights.semibold;
            color: colors.$gray-900;
          }

          a {
            padding: 0;
            margin-top: 20px;
            display: inline-flex;
          }

          *[data-mode="light"] {
            display: block;
          }

          *[data-mode="dark"] {
            display: none;
          }
        }

        @media (max-width: 767px) {
          gap: 16px;
          flex-direction: column;
          align-items: center;

          .swap {
            width: 100%;
          }
        }
      }
    }

  }
}

.dark .marketplace.options.container {
  .inner.container {
    .networks.section {
      .network.item {
        &:hover, &:focus-visible {
          background-color: colors.$black-800;
        }
  
        i[data-mode="light"] {
          display: none;
        }
  
        i[data-mode="dark"] {
          display: block;
        }
  
        .text.container {
          p.name {
            color: colors.$white;
          }
          
          p.text {
            color: colors.$gray-25;
          }
        }
      }
    }

    .get.npm.section {
      .header {
        p {
          color: colors.$base-white;
        }
      }

      .swaps .swap {
        background-color: colors.$black-800;

        p.title {
          color: colors.$base-white;
        }

        *[data-mode="dark"] {
          display: block;
        }

        *[data-mode="light"] {
          display: none;
        }
      }
    }
  }

}