@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/blurs";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";

.protocol.network.select.container {
  .button.container {
    position: relative;
    width: 100%;

    button {
      border-radius: 6px;
      cursor: pointer;
      justify-content: space-between;
      width: 100%;
      padding: 16px;
      background-color: colors.$primary-50;
      color: colors.$gray-600;

      @include styles.text-lg;
      @include weights.semibold;

      &,
      &>div {
        display: flex;
        align-items: center;
        gap: 28px;
      }

      span {
        color: colors.$primary-700;
      }

      svg {
        width: 20px;
        height: 20px;
      }

      &>div svg {
        width: 24px;
        height: 24px;
      }

      @media (max-width: 767px) {
        min-width: 100%;
      }
    }

    .menu {
      display: none;
      min-width: 100%;
      position: absolute;
      top: calc(100% + 8px);
      z-index: 1000;
      background-color: colors.$white;
      border-radius: 6px;
      border: 1px solid colors.$gray-300;
      box-shadow: shadows.$lg;

      ul {
        list-style: none;
        margin: 0;
        padding: 6px 0;

        li a {
          display: flex;
          gap: 8px;
          cursor: pointer;
          overflow: hidden;
          white-space: nowrap;
          padding: 6px 14px;
          @include styles.text-sm;
          @include weights.medium;
          color: colors.$gray-800;

          &:hover {
            background-color: colors.$gray-200;
          }

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      &[data-open="true"] {
        display: block;
      }
    }
  }
}

.dark .protocol.network.select.container {
  .button.container {
    button {
      background-color: colors.$gray-700;

      &,
      span {
        color: colors.$gray-25;
      }
    }

    .menu {
      background-color: colors.$gray-700;
      border: 1px solid colors.$gray-600;

      ul li a {
        color: colors.$gray-200;

        &:hover {
          background-color: colors.$gray-800;
        }
      }
    }
  }
}