@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/blurs";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";

.neptune.protocol.contracts {
  @include utils.full-width-container;
  padding-top: 48px;
  padding-bottom: 180px;

  .protocol.inner.container {
    padding: 0 32px;
    display: flex;
    gap: 48px;

    .ui.tab.list.view {
      min-width: 292px;
      display: flex;
      gap: 4px;

      &.vertical {
        flex-direction: column;
      }

      .item {
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 8px 12px;
        margin-left:12px;
        border-radius: 8px;
        color: colors.$gray-500;
        @include weights.semibold;
        @include styles.text-sm;
        flex-wrap: wrap;

        i {
          svg {
            height: 16px;
            width: 16px;
          }
        }

        &:hover {
          background-color: colors.$primary-50;
          color: colors.$primary-700;
        }
      }

      @media (max-width: 1023px) {
        display: none;
      }
    }

    .mobile.tab.items {
      @media (min-width: 1024px) {
        display: none;
      }
    }

    @media (max-width: 1025px) {
      flex-direction: column;
      gap: 40px;
    }
  }

  @media (max-width: 1025px) {
    padding-top: 24px;
    padding-bottom: 64px;
  }
}