@import "../../styles/global.scss";


@import "../../elements/buttons/Button.scss";
@import "../../elements/buttons/_base/index.scss";
@import "../../elements/buttons/PrimaryButton.scss";
@import "../../elements/buttons/SecondaryGrayButton.scss";
@import "../../elements/Icon.scss";

@import "../../components/CookiePopup.scss";
@import "../../components/VideoModal.scss";

@import "../../components/Header/Header.scss";
@import "../../components/Header/LanguageSelector.scss";
@import "../../components/Header/ThemeSelector.scss";
@import "../../components/Header/HamburgerButton.scss";
@import "../../components/Header/Navigation.scss";
@import "../../components/Header/SubMenu.scss";
@import "../../components/Header/Section.scss";
@import "../../components/Header/VideoSection.scss";
@import "../../components/Footer.scss";
@import "../../components/HeaderSection.scss";
@import "../../components/NftCard.scss";

@import "../../views/nft-marketplace/Hero.scss";

@import "../../views/nft-marketplace/Marketplace.scss";
@import "../../views/nft-marketplace/Pagination.scss";
