@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/shadows";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.ethereum.checksum.container {
  max-width: 768px;
  
  .inner {
    padding: 56px 0 288px;
    margin: 0 auto;

    ol.breadcrumb {
      margin-top: 0;
    }

    div.section {
      margin-top: 56px;

      div.title {
        h2 {
          @include styles.text-xl;
          @include weights.semibold;
        }
        
        p {
          margin-top: 8px;
          @include styles.text-md;
          color: colors.$gray-600;
        }
      }

      .input.container {
        margin-top: 24px;
      }

      .result.container {
        margin-top: 16px;
        position: relative;

        textarea {
          height: 76px;
          min-height: 76px;
          resize: vertical;
        }

        .copy.button.container, .copied.button.container {
          position: absolute;
          bottom: 12px;
          right: 14px;

          button {
            span.content {
              display: flex;
              gap: 8px;
              align-items: center;
            }

            &:disabled,
            &[data-disabled] {
              background-color: colors.$primary-200;
              border-color: colors.$primary-200;
            }
          }
        }

        .copied.button.container {
          display: none;
        }
      }

      p.error {
        margin-top: 12px;
        color: colors.$error-500;

      }
    }
  }
}

.dark {
  .ethereum.checksum.container {
    .inner {
      div.section {
        div.title {
          p {
            color: colors.$gray-300;
          }
        }

        .result.container {
          .copy.button.container, .copied.button.container {
            button {
              &:disabled,
              &[data-disabled] {
                background-color: colors.$primary-400;
                border-color: colors.$primary-400;
              }
            }
          }
        }
      }
    }
  }
}