@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";


.blog.post.hero.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding-top: 64px;
  padding-bottom: 96px;  

  @media (max-width: 767px) {
    padding: 0;
    flex-direction: column-reverse;
    gap: 40px;
    align-items: stretch;
  }

  >.header {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  h1 {
    @include styles.display-lg;
    @include weights.semibold;
    color: colors.$gray-900;

    @media (max-width: 767px) {
      margin: 0;
      padding: 0 16px;
      margin-bottom: 20px;
      @include styles.display-md;
    }
  }

  p.intro {
    @include styles.text-xl;
    @include weights.regular;
    color: colors.$gray-600;
  }

  .blog.info{
    display: flex;
    align-items:center; 
    gap: 8px; 


    i {
      color: colors.$gray-500;
      width: 8px;
      height: 8px;
    }
  
    @media (max-width: 767px) {
      padding: 0 16px;
    }
    
    span {
      @include styles.text-md;
      @include weights.semibold;

      color: colors.$gray-500;
  
    }
  }

  .image.container {
    flex: 1;
    height: 560px;
    max-width: 100%;
    overflow: hidden;
  
    @media (max-width: 767px) {
      flex: 1 0 240px;
      height: 240px;
      max-width: none;
    }
  
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }    
  }

  time {
    display: inline-block;
    @include styles.text-md;
    @include weights.semibold;

    color: colors.$gray-500;    
  }

}

.dark .blog.post.hero.container {
  .blog.info{
    span {
      color: colors.$gray-200;
    }
  }

  h1 {
    color: colors.$gray-100;
  }

  p.intro {
    color: colors.$gray-300;
  }

  time {
    display: inline-block;
    @include styles.text-md;
    @include weights.semibold;

    color: colors.$gray-200;    
  }
}