@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";


.blog.post.hero.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 64px 0 40px;
  text-align: center;

  @media (max-width: 767px) {
    padding-top: 0;
    padding-bottom: 32px;
  }

  .blog.title.wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
    }

    >.header {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 16px;
      max-width: 800px;
      margin: 0 auto;
  
      @media (max-width: 767px) {
        margin: 0;
        text-align: left;
      }
    }
  }

  h1 {
    @include styles.display-md;
    @include weights.semibold;
    color: colors.$gray-900;

    @media (max-width: 767px) {
      margin: 0;
      padding: 0 16px;
    }
  }

  p.intro {
    @include styles.text-xl;
    @include weights.regular;
    color: colors.$gray-600;
    text-align: left;
    max-width: 720px;
    margin: 0 auto;
    border-bottom: 1px solid colors.$gray-200;
    padding: 0 0 32px;

    @media (max-width: 767px) {
      margin: 0 16px;
      @include styles.text-md;
    }
  }

  .blog.info{
    display: flex;
    align-items:center; 
    gap: 16px; 
    justify-content: center;
    .time.info{
      display: flex;
      align-items:center; 
      gap: 6px; 
      justify-content: center;

      i {
        color: colors.$gray-500;
        width: 6px;
        height: 6px;
      }

      span {
        @include styles.text-md;
        @include weights.semibold;
        color: colors.$gray-500;
      }
    }
    .tags.container .tag{
      padding: 2px 10px;
      @include styles.text-sm;
      @include weights.medium;
    }
  
    @media (max-width: 767px) {
      padding: 0 16px;
      justify-content: start;
      gap: 12px;
      flex-wrap: wrap;
    }
  }

  .image.container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto 0;
    flex: 1 0 405px;
    overflow: hidden;
    

    @media (max-width: 1023px) {
      padding: 0 16px;
      flex: 1 0 584px;
    }

    @media (max-width: 767px) {
      flex: 1 0 240px;
      height: 240px;
      max-width: none;
      padding: 0;
      margin-bottom: 0;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 12px;
    } 
  }

  time {
    display: inline-block;
    @include styles.text-md;
    @include weights.semibold;

    color: colors.$gray-500;    
  }

}

.dark .blog.post.hero.container {
  .blog.info{
    .time.info{
      i, span {
        color: colors.$gray-300;
      }

    }
  }

  h1 {
    color: colors.$base-white;
  }

  p.intro {
    color: colors.$gray-25;
    border-bottom-color: colors.$gray-800;
  }

  time {
    color: colors.$gray-300;    
  }
}