@use "../../../design-system/utils";
@use "../../../design-system/colors";
@use "../../../design-system/typography/styles";
@use "../../../design-system/typography/weights";
@use "../../../design-system/theme/light";
@use "../../../design-system/theme/dark";

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.pressroom.announcement {
    a.styled.link {
        max-width: 100%;

        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 10px 4px 4px;
        gap: 12px;
        border-radius: 9999px;
        background-color: colors.$primary-50;

        @include styles.text-sm;
        @include weights.medium;
    }

    .highlighted {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: -0.2rem;
            z-index: -1;
            opacity: 0;
            background: conic-gradient(
                from var(--gradient-angle),
                #4D14FF, #EC14FF, #FFA825, #FFA825, #EC14FF, #4D14FF
            );
            border-radius: inherit;
            animation: gradient-rotation 5s linear infinite, gradient-opacity linear 3s alternate infinite;
        }
    }

    @keyframes gradient-rotation {
        0% {
            --gradient-angle: 0deg;
        }
        100% {
            --gradient-angle: 360deg;
        }
    }

    @keyframes gradient-opacity {
        0%, 70% {
            opacity: 0;
        }

        90%, 100% {
            opacity: 1;
        }
    }

    .category {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 10px;
        border-radius: 9999px;
        color: colors.$primary-700;
        background-color: colors.$white;
    }

    .text {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 4px;
        color: colors.$primary-700;

        flex: 1;
        min-width: 0;

        >span {
            @include utils.ellipsis;
        }

        svg {
            flex-shrink: 0;
            color: colors.$primary-500;
            height: 16px;
            width: 16px;
        }
    }

    @media (max-width: 767px) {
        margin-bottom: 16px;
    }

}

.dark .pressroom.announcement {

    a.styled.link {
        background-color: colors.$gray-600;
    }

    .category {
        color: colors.$gray-25;
        background-color: colors.$gray-700;
    }

    .text {
        color: colors.$gray-25;

        svg {
            color: colors.$white;
        }
    }
}