---
import Icon from "../../elements/Icon.astro";
---

<div class="nft hero container">
  <div class="titles container">
    <h1 class="title">Discover Neptune Mutual NFTs</h1>
    <p class="intro">
      Participate in our cover ecosystem and mint NFTs for free. Select your
      persona and keep unlocking new levels of NFTs.
    </p>

    <div class="buttons container">
      <button class="view">View Minting Levels</button>
      <button class="access">
        <Icon variant={"image-indent-left"} />
        <span>Access Marketplace</span>
      </button>
    </div>
  </div>

  <div class="image container">
    <img class="light only" src="/assets/images/hero/nft-light.webp" />
    <img class="dark only" src="/assets/images/hero/nft-dark.webp" />
  </div>
</div>
