---
import NftKnowTheCharacters from "./know-the-characters/NftKnowTheCharacters.astro";
---

<div class="full width container">
  <div class="dashboard">
    <NftKnowTheCharacters />
    <div></div>
  </div>
</div>
