---
import NftKnowTheCharacters from "./know-the-characters/NftKnowTheCharacters.astro";
import NftShowcase from "./showcase/NftShowcase.astro";
---

<div class="nft test full width container">
  <section class="dashboard">
    <NftKnowTheCharacters />
    <div></div>
  </section>

  <section>
    <NftShowcase />
  </section>
</div>
