---
import { NftApi } from "../../../../service/remote-api/nft-api";
import Button from "../../../elements/buttons/Button.astro";
import MostViewedNFTs from "./MostViewedNfts.astro";
import PremiumNfts from "./PremiumNfts.astro";
import RegularNfts from "./RegularNfts.astro";

const response = await NftApi.knowYourCharacters();
const charactersByPage = [];

for (let i = 0; i < response.data.length; i += 5) {
  charactersByPage.push(response.data.slice(i, i + 5));
}
---

<div class="nft showcase">
  <h2>Premium NFTs</h2>
  <div class="content">
    <div>
      <PremiumNfts />
      <RegularNfts />
    </div>
    <MostViewedNFTs />
  </div>
</div>
