@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.hero.wrapper {
  .hero.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding-top: 64px;
    padding-bottom: 96px;
    @include utils.full-width-container;
  
    @media (max-width: 767px) {
      padding-top: 56px;
      padding-bottom: 64px;
      flex-direction: column;
      align-items: stretch;
      gap: 64px;
    }
  
  
  
    .text.and.cta {
      flex: 1;
    }
  
    h1 {
      margin-top: 16px;
      @include styles.display-xl;
      @include weights.semibold;
  
      @media (max-width: 767px) {
        margin-top: 0;
        @include styles.display-md;
      }
    }
  
    .sub.title {
      margin-top: 24px;
      color: light.$secondary-color;
      @include styles.text-xl;
      @include weights.regular;
  
      @media (max-width: 767px) {
        margin-top: 16px;
        @include styles.text-lg;
      }
    }
  
  
    .button.container {
      margin-top: 48px;
      display: inline-flex;
  
      @media (max-width: 767px) {
        margin-top: 32px;
        display: block;
  
        button.launch.app {
          width: 100%;
          padding: 12px 20px;
        }
      }
    }
  
    .image.container {
      flex: 1;
      height: 560px;
      max-width: 100%;
      border: 1px solid colors.$gray-600;
      filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));
  
      @media (max-width: 767px) {
        flex: 1 0 320px;
        height: 320px;
        max-width: none;
        margin-left: -16px;
        margin-right: -16px;
      }
  
      img {
        width: 100%;
        height: 100%;
        object-position: top center;
        object-fit: cover;
      }
    }
  }
}

.dark .hero.wrapper {
  .hero.container {
    .sub.title {
      color: dark.$secondary-color;
    }
  
    .image.container {
      border-color: colors.$gray-800;
    }
  }
} 