@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.nft.collection.section {
  padding-top: 120px;
  padding-bottom: 144px;

  @media (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .inner.container {
    @include utils.full-width-container;
  }

  .text.and.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @media (max-width: 767px) {
      gap: 32px;
    }


    .text.container {
      text-align: center;
      margin-left: auto;
      margin-right: auto;

      .sub.heading {
        color: colors.$primary-700;
        @include styles.text-md;
        @include weights.semibold;

        @media (max-width: 767px) {
          @include styles.text-sm;
        }
      }

      .heading:not(.sub) {
        margin-top: 12px;
        color: light.$color;

        @include styles.display-md;
        @include weights.semibold;

        @media (max-width: 767px) {
          @include styles.display-sm;
        }
      }

      p {
        margin-top: 20px;
        color: light.$secondary-color;

        @include styles.text-xl;
        @include weights.regular;


        @media (max-width: 767px) {
          margin-top: 16px;
          @include styles.text-lg;
        }
      }
    }
  }

  .image.container {
    margin-top: 64px;
    height: 410px;
    border-radius: 16px;
    overflow: hidden;

    @media (max-width: 767px) {
      margin-top: 48px;
      height: 360px;
      border-radius: 0px;
      max-width: none;
      margin-left: -16px;
      margin-right: -16px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.dark .nft.collection.section {
  .text.and.cta {
    .text.container {
      .sub.heading {
        color: colors.$primary-300;
      }

      .heading:not(.sub) {
        color: dark.$color;
      }

      p {
        color: dark.$secondary-color;
      }
    }
  }
} 