---
import Button from "../../elements/buttons/Button.astro";

const t = (x: string): string => x;
---

<div class="nft collection section">
  <div class="inner container">
    <div class="text and cta">
      <div class="text container">
        <h2>
          <div class="sub heading">{t("The Tale of Waters and Seas")}</div>
          <div class="heading">{t("Neptune Mutual NFTs")}</div>
        </h2>
        <p>
          {
            t(
              "Our Neptune, Guardians, and Beasts collections each have their unique identity, offering users a diverse range of digital assets to explore, collect, and trade. As part of our commitment to democratizing access to blockchain-based collectibles, we're proud to offer all of these NFT collections for free. Whether you're a fan of the mythical beasts of the deep or the tales of gods and goddesses, we invite you to join us and celebrate the wonder and beauty of the ocean's mythology with our NFT collections."
            )
          }
        </p>
      </div>
      <Button
        href="https://nft.neptunemutual.com"
        type={"anchor"}
        variant={"primary"}
        size={"xl"}
        iconTrailing="arrow-right"
      >
        {t("Launch NFT Portal")}
      </Button>
    </div>

    <div class="image container">
      <img
        src="/assets/images/nft/promo.webp"
        alt="A banner of NFT cards with unique Neptune Mutual NFT character images, names, and descriptions."
        loading="lazy"
      />
    </div>
  </div>
</div>
