---
import Marquee from "./securing-apps/Marquee.astro";

const t = (x: string): string => x;
---

<div class="securing apps section">
  <div class="inner container">
    <div class="content container">
      <p>{t("Securing your favorite DeFi, CeFi, and Metaverse Apps")}</p>
      <Marquee />
    </div>
  </div>
</div>
