@import "../../styles/global.scss";

@import "../../components/Header/Header.scss";
@import "../../components/Header/LanguageSelector.scss";
@import "../../components/Header/ThemeSelector.scss";
@import "../../components/Header/Navigation.scss";
@import "../../components/Header/SubMenu.scss";
@import "../../components/Header/Section.scss";
@import "../../components/Header/VideoSection.scss";
@import "../../components/VideoModal.scss";
@import "../../components/Header/HamburgerButton.scss";
@import "../../components/CookiePopup.scss";

@import "../../elements/buttons/Button.scss";
@import "../../elements/buttons/_base/index.scss";
@import "../../elements/buttons/PrimaryButton.scss";
@import "../../elements/buttons/SecondaryGrayButton.scss";
@import "../../elements/FeaturedIcon.scss";
@import "../../elements/Tags.scss";

@import "../../components/Footer.scss";


@import "../../views/careers/Hero.scss";
@import "../../views/careers/Benefits.scss";
@import "../../views/careers/Features.scss";
@import "../../views/careers/Vacancies.scss";
@import "../../views/careers/vacancies/VacancyCard.scss";
@import "../../views/careers/vacancies/WorkDetail.scss";
@import "../../views/careers/vacancies/Filter.scss";

