---
const t = (x: string): string => x;
---

<div class="careers hero container">
  <div class="inner container">
    <div class="content">
      <h1 id="interested-in-pursuing-a-career-with-neptune-mutual">
        <div class="subheading with badge">
          <span class="subheading">
            {t("DeFi Insurance is the Future!")}
          </span>
          <div class="badge">
            {t("We're Hiring!")}
          </div>
        </div>

        <div class="header title">
          {t("Interested in Pursuing a Career with Neptune Mutual?")}
        </div>
      </h1>

      <p class="header content">
        {
          t(
            "If you are driven, passionate and an executor, then Neptune Mutual is for you!"
          )
        }
        <br /><br />
        {
          t(
            "We are looking for amazing talents anywhere across the globe to join our diverse and dynamic team that is on a mission to build a reliable, fast and effective platform that protects digital assets."
          )
        }
        <br /><br />
        {
          t(
            "Hyper-talented experts from all over the world grow and thrive in our super dynamic, connected team. As a dedicated talent-nurturing workspace, we give each of our team members a fun and professional environment for them to do the work they enjoy."
          )
        }
      </p>
    </div>

    <div class="image container">
      <img
        src="/assets/images/hero/careers.webp"
        alt={t("Neptune Mutual Careers Banner Image with 3 light bulbs")}
        loading="eager"
      />
    </div>
  </div>
</div>
