@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.careers.hero.container {
  background-color: colors.$primary-25;

  .inner.container {
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding-top: 96px;
    padding-bottom: 96px;

    @media(max-width: 1023px) {
      gap: 64px;
      flex-direction: column;
    }
    
    @include utils.full-width-container;
    
    @media (max-width: 767px) {
      gap: 64px;
      padding-top: 64px;
      padding-bottom: 0;
      flex-direction: column;
      align-items: stretch;
    }

    .content {
      flex: 1;
    }

    .subheading.with.badge {
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 8px;

      .subheading {
        color: colors.$primary-700;
        @include weights.semibold;
        @include styles.text-md;
        display: inline-flex;
      }

      .badge {
        display: inline-flex;
        @include styles.text-sm;
        @include weights.medium;
        color: colors.$blue-dark-700;
        background: colors.$blue-dark-100;
        padding: 2px 10px;
        border-radius: 16px;
      }
    }

    .header.title {
      margin-top: 12px;
      color: light.$color;
      @include styles.display-lg;
      @include weights.semibold;
      
      @media (max-width: 767px) {
        @include styles.display-md;
      }
    }

    .header.content {
      margin-top: 20px;
      color: light.$secondary-color;
      @include styles.text-xl;
      @include weights.regular;
      
      @media (max-width: 767px) {
        margin-top: 16px;
        @include styles.text-lg;
      }
    }

    .image.container {
      flex: 1;
      max-width: 100%;
      display: inline-block;

      @media (max-width: 767px) {
        flex: 1 0 320px;
        height: 320px;
        max-width: none;
        margin-left: -16px;
        margin-right: -16px;
      }

      img {
        width: 100%;
        height: 100%;
        object-position: top center;
        object-fit: cover;

        @media (max-width: 767px) {
          object-position: center;
        }
      }

    }
  }
}

.dark .careers.hero.container {
  background-color: dark.$primary-background-color;

  .inner.container {
    .subheading.with.badge {
      .subheading {
        color: colors.$primary-300;
      }

      .badge {
        color: colors.$blue-dark-50;
        background: colors.$blue-dark-700;
      }
    }

    .header.title {
      color: dark.$color;
    }

    .header.content {
      color: dark.$secondary-color;
    }
  }
}