---
import Icon from "../../../elements/Icon.astro";

interface Props {
  variant: string;
  text: string;
}

const { variant, text } = Astro.props;
---

<div class="work detail container">
  <Icon variant={variant} size={"sm"} />
  <span>{text}</span>
</div>
