@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";

header[data-style="colored"] {
  background-color: colors.$gray-50;
}

main {
  .ui.basic.hero.section {
    background-color: colors.$gray-50;
  }

  background-color: colors.$gray-50;

  .newsletter.signup {
    background-color: colors.$base-white;
  }
}

.dark {
  main {
    .ui.basic.hero.section {
      background-color: colors.$black-900;
    }

    background-color: colors.$black-900;

    .newsletter.signup {
      background-color: colors.$black-700;
    }
  }

}

.blog {
  .tags.container {
    margin-top:24px;
  }
}