@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/shadows";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";

$sidebar-width: 300px;

.dimmer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);
}

.docs.content.menu {
  display: flex;
  justify-content: flex-start;
  border: 1px solid;
  border-width: 1px 0px;
  border-color: colors.$gray-200;
  margin-top: 9px;

  @include utils.full-width-container;
  padding-top: 16px;
  padding-bottom: 16px;

  @media (max-width: 767px) {
    margin-top: 1px;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    color: colors.$gray-500;
    text-transform: uppercase;
    @include styles.text-md;
    @include weights.semibold;

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.dark .docs.content.menu {
  border-color: colors.$gray-800;

  button {
    color: colors.$gray-300;
  }
}

.documentation.container {
  .meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 32px;
    gap: 32px;
    min-height: 86px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .breadcrumb.trail {
      margin-top: 0;
    }

    .search:not(.modal) {
      @media (max-width: 767px) {
        width: 100%;
      }

      input {
        width: 200px;
        @include styles.text-sm;
        padding: 8px 16px;

        @media (max-width: 767px) {
          width: 100%;
        }

        &:hover,
        &:active,
        &:focus {
          background-color: unset;
          box-shadow: none !important;
          border-color: colors.$primary-700;
        }
      }
    }
  }

  .full.width.container {
    display: flex;
    gap: 128px;

    @media (max-width: 1023px) {
      flex-direction: column-reverse;
      padding: 12px;
      gap: 12px;
    }

    @media (max-width: 1439px) {
      gap: 64px;
    }

    .story.container {
      padding-top: 32px;
      padding-bottom: 64px;
      width: calc(100% - $sidebar-width - 128px);
      min-height: 100vh;

      @media (max-width: 1023px) {
        width: 100%;
        padding: 12px;
      }

      .ui.more.stories {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 32px;
        margin: 24px 0;

        @media (max-width: 767px) {
          flex-direction: column;
        }

        .story,
        a {
          color: inherit;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 16px;

          border: 1px solid colors.$gray-200;
          flex: 1;
          border-radius: 8px;

          @media (max-width: 767px) {
            width: 100%;
          }

          &:hover {
            background-color: colors.$gray-50;
            border-color: colors.$gray-300;
          }

          .content {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .title:not(.sub) {
              @include weights.medium;
              @include styles.text-xs;
              color: colors.$gray-500;
            }

            .sub.title {
              @include weights.semibold;
              @include styles.text-md;
              color: colors.$gray-700;
            }
          }
        }

        .next.story {
          .content {
            align-items: flex-start;
          }
        }
      }
    }
  }

  .sidebar.dimmer {
    z-index: 999;

    @media (min-width: 1024px) {
      display: none;
    }
  }

  .ui.sidebar.menu {
    padding-top: 32px;
    padding-bottom: 32px;
    min-width: $sidebar-width;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: light.$primary-background-color;
    border-right: 1px solid colors.$gray-200;
    height: calc(100vh - var(--header-height));
    position: sticky;
    top: var(--header-height);
    overflow: auto;

    @media (max-width: 1023px) {
      &:not(&[data-noscript]) {
        position: fixed;
        top: 0px;
        left: 0px;
        padding: 16px;
        z-index: 10000;
        max-height: 100vh;
        overflow-y: auto;
        width: 316px;
        transition: transform 300ms ease;

        &[data-open="false"] {
          transform: translateX(-100%);
        }

        &[data-open="true"] {
          transform: translateX(0%);
        }
      }

      &[data-noscript] {
        position: relative;
        height: auto;
        border: 0;
      }
    }

    @media (max-width: 768px) {
      max-width: 80%;
    }

    .item {
      display: block;
      padding: 4px 8px;
      border-radius: 4px;
      margin-right: 24px;

      @media (max-width: 1023px) {
        margin-right: 0;
      }
    }

    .header.item {
      @include styles.text-xs;
      @include weights.bold;
      color: colors.$gray-500;
      text-transform: uppercase;
      padding-top: 28px;
      padding-bottom: 12px;
    }

    .item:not(.header) {
      @include styles.text-sm;
      @include weights.regular;
      color: colors.$gray-600;

      &.current {
        background-color: colors.$gray-100;
        color: colors.$gray-700;
      }

      &:hover {
        background-color: colors.$primary-100;
        color: colors.$primary-700;
      }
    }
  }
}

.dark .documentation.container {
  .meta {
    input {
      &:hover,
      &:active,
      &:focus {
        border-color: colors.$gray-200;
      }
    }
  }

  .full.width.container {
    .story.container {
      .ui.more.stories {
        .story,
        a {
          border: 1px solid colors.$gray-800;

          &:hover {
            background-color: colors.$gray-iron-900;
          }

          .content {
            .sub.title {
              color: colors.$gray-200;
            }
          }
        }
      }
    }
  }

  .ui.sidebar.menu {
    border-right: 1px solid colors.$gray-800;
    background-color: colors.$black;

    .item:not(.header) {
      color: colors.$gray-200;

      &.current {
        background-color: colors.$gray-800;
        color: colors.$gray-200;
      }

      &:hover {
        color: colors.$gray-25;
        background-color: colors.$gray-800;
      }
    }
  }
}

.story.container .story {
  @include styles.text-md;
  @include weights.regular;

  h1 {
    @include styles.display-md;
    @include weights.semibold;
    margin-bottom: 1em;

    .sub.title {
      @include styles.text-xl;
      @include weights.regular;
      margin-top: 0.5em;
      color: colors.$gray-500;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors.$gray-700;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
  }

  p,
  ul,
  ol {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    display: block;
    margin-top: 0.15em;
    margin-bottom: 1em;

    strong {
      @include weights.bold;
    }
  }

  iframe {
    margin: 0;
  }

  img {
    margin: 0 auto;
  }
}
