---
import Hero from "./nft/Hero/Hero.astro";
import KnowTheCharacters from "./nft/KnowTheCharacters/KnowTheCharacters.astro";
import Showcase from "./nft/Showcase/Showcase.astro";
---

<div class="nft home page">
  <Hero />
  <section class="dashboard">
    <KnowTheCharacters />
    <div></div>
  </section>

  <section>
    <Showcase />
  </section>
</div>
