---
import NftCard from "../components/NftCard.astro";
import Hero from "./nft-marketplace/Hero.astro";
---

<>
  <Hero />
  <br />
  <div class="full width container">
    <NftCard />
  </div>
  <br />
</>
