.tools.container {
  .detailed.list.view .list.view .title.and.intro .title.with.badge .tag {
    svg {
      width: 14px;
      height: 14px;
      path {
        fill: currentColor;
      }
    }
  }
}