@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/icons";

.blog.post.container {
  padding-bottom: 96px;

  @media (max-width: 767px) {
    padding-bottom: 64px;
    margin-bottom: 64px;
  }

  .inner.container {
    border-top: 0.5px solid colors.$gray-300;

    @media screen and (max-width: 767px) {
      padding-top: 32px;
    }

    & > div:nth-child(1) {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .blog.search {
        width: 320px;
        color: colors.$gray-500;
        padding: 10px 14px;
      }
    }

  }

  .text.and.cta {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: stretch;
    }

    .text {
      max-width: 767px;      
    }

    h2 {
      color: light.$color;

      @include styles.display-xs;
      @include weights.semibold;
    
      @media (max-width: 767px) {
        @include styles.display-sm;
      }      
    }
  }

  .single.card {
    flex: 1 1 30%;    

    &:hover img {
      transform :scale(1.15);
    }
  }

  .blog.posts {
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
    gap: 32px;
    margin-top: 32px;
  
    @media (max-width: 1023px) {
      grid-template-columns: repeat(2,1fr);
    }
  
    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }    
  }
}

.dark .blog.post.container {
  .inner.container {
    border-top: 0.5px solid colors.$gray-700;

    & > div:nth-child(1) {
      .blog.search {
        background-color: transparent;

        input::placeholder {
          color: colors.$gray-500;
        }
      }
    }
  }

  .text.and.cta {
    h2 {
      color: dark.$color;
    }
  }
}


.dimmer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  .ui.search.modal {
    width: 720px;
    min-height: 300px;
    max-height: 80vh;
    overflow: auto;
    background-color: colors.$white;
    border: 1px solid colors.$gray-300;
    border-radius: 8px;
    margin: auto;
    padding: 16px;


    .search.input {
      display: flex;
      gap: 16px;
      align-items: center;
      padding: 8px 16px;
      border: 1px solid colors.$gray-300;
      border-radius: 25px;

      .icon {
        color: colors.$gray-500;
        width: 18px;
        height: 18px;
      }

      input {
        @include styles.text-md;
        @include weights.regular;
        width: 100%;
        outline: none;

        // remove default `x` icon on search inputs
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          -webkit-appearance:none;
        }
      }

      // hide `x` button when input empty
      input:placeholder-shown + button.clear {
        display: none;
      }
    }

    .search.result {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;

      .highlighted {
        background-color: colors.$yellow-50;
      }

      .match {
        @include weights.bold;
        color: colors.$blue-600;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 20px 16px;
        color: colors.$gray-700;
        border-radius: 8px;
        border: 1px solid transparent;


        .header {
          display: flex;
          gap: 12px;
          padding: 4px;
          @include styles.text-md;
          @include weights.medium;

          .file.icon {
            background-image: icons.$file-04;
            height: 20px;
            width: 20px;
          }

          .link.icon {
            background-image: icons.$arrow-up-right;
            height: 18px;
            width: 18px;
            margin-left: auto;
            background-size: contain;
            border-radius: 4px;

            &:hover {
              background-color: #ffffff30;
            }
          }
        }

        .content {
          color: colors.$gray-600;
          padding: 4px;
          margin-left: 32px;
          margin-bottom: 14px;
          @include styles.text-sm;
          @include weights.regular;
          word-break: break-all;
        }

        .footer {
          display: none;
          margin-left: 40px;
          gap: 16px;

          .link.icon,
          .copy.button {
            height: 24px;
            width: 24px;
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 4px;
          }

          .link.icon {
            background-image: icons.$arrow-narrow-right;

            &:hover {
              background-color: #ffffff30;
            }
          }
          
          .copy.button {
            background-image: icons.$copy-04;
            
            &:hover {
              background-color: #ffffff30;
            }
          }
        }

        &:hover,
        &:focus-within {
          background-color: colors.$blue-dark-700;
          color: colors.$white;

          .header {
            .file.icon {
              background-image: icons.$file-04-hover;
            }
  
            .link.icon {
              background-image: icons.$arrow-up-right-hover;
            }
          }
          
          .match {
            color: colors.$white;
          }
          
          .content {
            color: colors.$primary-200;
          }

          .footer {
            display: flex;
          }
        }
      }
    }
    
    @media (max-width: 767px) {
      margin-top: 0;
      max-height: 50vh;
    }
  }
}

.dark .dimmer {
  .ui.search.modal {
    background-color: colors.$gray-800;
    border: 1px solid colors.$gray-700;

    .search.input {
      border: 1px solid colors.$gray-700;
    }

    .search.result {
      .highlighted {
        background-color: colors.$gray-700;
      }

      .item {
        color: colors.$white;


        .header {
          display: flex;
          gap: 12px;
          padding: 4px;
          @include styles.text-md;
          @include weights.medium;

          .file.icon {
            background-image: icons.$file-04-dark;
          }

          .link.icon {
            background-image: icons.$arrow-up-right-dark;
          }
        }

        .content {
          padding: 4px;
          margin-left: 36px;
          @include styles.text-sm;
          @include weights.regular;

          color: colors.$gray-50;
        }

        &:hover,
        &:focus-within {
          .header {
            .file.icon {
              background-image: icons.$file-04-hover;
            }
  
            .link.icon {
              background-image: icons.$arrow-up-right-hover;
            }
          }
        }
      }
    }
  }
}
