---
import ArticleCard from "../../components/ArticleCard.astro";
import { Api } from "../../../types/enum";

const t = (x: string): string => x;

interface Props {
  posts: Article[];
}

const { posts } = Astro.props;
---

<div class="featured posts full width container">
  <h2>{t("Recent Posts")}</h2>

  <div class="grid container">
    {posts.map((post: any) => <ArticleCard type={Api.Blog} post={post} />)}
  </div>
</div>
