---
import { normalizeUrl } from "../../../util/url";
import { filters } from "./tag-filters";
import { isActive, toHref } from "./util/tag-util";
---

<div class="tag filter container">
  {
    filters.map((filter) => {
      const href = [toHref(Astro, filter), filter.value || "recent-posts"].join(
        "#"
      );

      return (
        <a data-active={isActive(Astro, filter)} href={normalizeUrl(href)}>
          {filter.text}
        </a>
      );
    })
  }
</div>
