---
import { Api } from "../../../types/enum";
import { normalizeUrl } from "../../../util/url";
import { filters } from "./tag-filters";
import { isActive, hrefFromFilter } from "./util/tag-util";
---

<div class="tag filter container">
  {
    filters.map((filter) => {
      const href = hrefFromFilter(Astro, Api.Blog, filter, "all-stories");

      return (
        <a data-active={isActive(Astro, filter)} href={normalizeUrl(href)}>
          {filter.text}
        </a>
      );
    })
  }
</div>
