@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.weekly.reports.section {
  background-color: colors.$base-white;
  padding: 96px 0;

  .inner {
    .text.and.cta {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 32px;
      flex-wrap: wrap;
  
      .text {
        max-width: 767px;   
        
        h2 {
          color: light.$color;
    
          @include styles.display-xs;
          @include weights.semibold;
        
          @media (max-width: 767px) {
            @include styles.text-xl;
          }      
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 8px;

        @include styles.text-md;
        @include weights.semibold;
        color: colors.$primary-700;
      }
    }

    .reports.grid {
      margin-top: 32px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 24px;

      .single.report a {
        display: flex;
        flex-direction: column;
        border-radius: 12px;
        overflow: hidden;

        background-color: colors.$base-white;
        border: 1px solid colors.$gray-200;

        img {
          height: 182px;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }

        .right {
          padding: 16px;

          .date {
            @include styles.text-sm;
            @include weights.semibold;
            color: colors.$gray-500;
          }

          h3 {
            margin-top: 8px;
            @include styles.text-xl;
            @include weights.semibold;
            color: colors.$gray-900;
          }

          p.description {
            margin-top: 8px;
            @include styles.text-md;
            @include weights.regular;
            color: colors.$gray-600;

            // limit to 2 lines
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }

    @media (max-width: 1023px) {
      .reports.grid {
        grid-template-columns: repeat(2, 1fr);

        .single.report a {
          img {
            height: 240px;
          }
        }
      }
    }

    @media (max-width: 767px) {
      .reports.grid {
        grid-template-columns: 1fr;
      }
    }
  }
}

.dark .weekly.reports.section {
  background-color: colors.$black-700;

  .inner {
    .text.and.cta a {
      color: colors.$primary-300;
    }
  
    .reports.grid {
      .single.report a {
        background-color: colors.$black-800;
        border-color: colors.$gray-800;
  
        .right {
          .date {
            color: colors.$gray-400;
          }
  
          h3 {
            color: colors.$gray-100;
          }
  
          p.description {
            color: colors.$gray-300;
          }
        }
      }
  
      hr {
        border-top: 1px solid colors.$gray-800;
      }
    }

    .text.and.cta {
      h2 {
        color: dark.$color;
      }
    }
  }
}