---
import Icon from "../../elements/Icon.astro";
---

<div class="language select container">
  <button class="selected language">
    <Icon size={"md"} variant="globe-01" />
    <span>English</span>
  </button>
</div>
