@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/shadows";

.mobile.sections.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-top: 16px;
  padding-bottom: 24px;

  .section.title {
    padding: 0 16px;
    color: colors.$primary-600;
  
    @include styles.text-sm;
    @include weights.semibold;
  }

  .section.content {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .section.link.title {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      gap: 16px;
      color: light.$color;

      @include styles.text-md;
      @include weights.semibold;

      &:hover {
        background-color: colors.$primary-600;
        color: colors.$white;
        
        h3,
        svg {
          color: colors.$white;
        }

        p {
          color: colors.$gray-50;
        }
      }

      svg {
        color: colors.$primary-600;
        width: 24px;
        height: 24px;
      }

      i:last-of-type:not(:first-child) svg {
        width: 18px;
        height: 18px;
      }

      .section.link.badge {
        @include styles.text-sm;
        @include weights.medium;

        color: colors.$blue-dark-700;
        background: colors.$blue-dark-100;
        padding: 2px 10px;
        border-radius: 16px;
      }
    }
  }

  .mobile.video.section.container {
    background-color: colors.$gray-50;
    padding-top: 32px;
    padding-bottom: 32px;

    & > div > h4,
    & > div > a {
      padding: 0px 16px;
    }
  }

  &[data-open="false"] {
    display: none;
  }
}

.dark .mobile.sections.container {
  .section.title {
    color: colors.$primary-300;
  }

  .section.content {
    .section.link.title {
      color: dark.$color;

      &:hover {
        h3,
        svg {
          color: colors.$white;
        }
      }

      svg {
        color: colors.$primary-300;
      }

      .section.link.badge {
        color: colors.$blue-dark-300;
        background: colors.$gray-700;
      }
    }
  }

  .mobile.video.section.container {
    background-color: colors.$gray-900;
  }
}

