@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/shadows";

.mobile.menu.container {
  position: fixed;
  top: var(--header-height);
  left: 0px;
  bottom: 0px;
  z-index: 1;
  width: 100%;
  overflow-x: hidden;
  background-color: light.$primary-background-color;
  display: block;
  border-top: 1px solid colors.$gray-100;

  @media (max-width: 1023px) { 
    z-index: 2;
  }

  @media (min-width: 1025px) { 
    display: none;
  }

  .mobile.menu.inner {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    gap: 8px;

    .actions.container {
      display: flex;
      justify-content: space-between;
      padding: 0 16px 24px 16px;
      border-bottom: 1px solid colors.$gray-100;
    }
  }

  .item.link.container {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    color: light.$color;
  
    @include styles.text-md;
    @include weights.semibold;
  
    &:hover {
      background-color: colors.$primary-600;
      color: colors.$white;

      h3 {
        color: colors.$white;
      }

      p {
        color: colors.$gray-50;
      }
    }
  }

  .item.expandable.container {
    display: flex;
    flex-direction: column;

    .item.trigger.button {
      display: flex;
      padding: 12px 16px;
      gap: 16px;
      color: light.$color;
      text-align: left;
      border-radius: 0px;

      @include styles.text-md;
      @include weights.semibold;

      &:hover {
        background-color: colors.$gray-50;
      } 

      .title {
        flex: 1;
      }

      &[data-open="false"] i[data-state="opened"],
      &[data-open="true"] i[data-state="closed"] {
        display: none;
      }
    }
  }

  &[data-open="false"] {
    display: none;
  }
}

.dark .mobile.menu.container {
  background-color: dark.$primary-background-color;
  border-top: 1px solid colors.$gray-700;

  .mobile.menu.inner {
    .actions.container {
      border-bottom: 1px solid colors.$gray-700;
    }

    .item.link.container {
      color: dark.$color;
    }

    .item.expandable.container {
      .item.trigger.button {
        color: dark.$color;

        &:hover {
          background-color: colors.$gray-700;
        }
      }
    }
  }
}