---
import Section from "./Section.astro";
import VideoSection from "./VideoSection.astro";

import { linkNav } from "../../../util/nav";

interface Props {
  data: linkNav[]; // @todo: Incorrect casing
  videos: Video[];
}
const { data, videos } = Astro.props;
---

{
  data
    .filter((nav) => nav.children)
    .map(
      ({ title, children }) =>
        children && (
          <div class="sub menu container" data-open="false">
            <div class="left space" />

            <div class="content">
              <div class="non video sections">
                {children
                  .filter((x) => x.type === "section")
                  .map((child) => {
                    return <Section section={child} />;
                  })}
              </div>
              <div class="video sections">
                {children
                  .filter((x) => x.type !== "section")
                  .map((child) => {
                    return <VideoSection section={child} videos={videos} />;
                  })}
              </div>
            </div>

            <div class="right space" />
          </div>
        )
    )
}
