---
import Icon from "./Icon.astro";

interface Props {
  className: string;
  iconProps?: {
    variant: string;
    size?: "2xl" | "xl" | "lg" | "md" | "sm" | "xs";
  };
  placeholder: string;
  value: string;
  id?: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute;
  iconEnd?: boolean;
  isPasswordField?: boolean;
}

const {
  className,
  iconProps,
  placeholder,
  value,
  id,
  type,
  iconEnd,
  isPasswordField,
} = Astro.props;
---

<div class={`input with icon ${className || ""}`.trim()}>
  {
    !iconEnd &&
      iconProps &&
      Object.keys(iconProps).length > 0 &&
      (isPasswordField ? (
        <button class="input icon button">
          <Icon {...iconProps} />
        </button>
      ) : (
        <Icon {...iconProps} />
      ))
  }
  <input
    placeholder={placeholder}
    autocomplete="off"
    value={value}
    id={id}
    type={type || "text"}
  />
  {
    iconEnd &&
      iconProps &&
      Object.keys(iconProps).length > 0 &&
      (isPasswordField ? (
        <button class="input icon button">
          <Icon {...iconProps} />
        </button>
      ) : (
        <Icon {...iconProps} />
      ))
  }
</div>
