---
import Icon from "./Icon.astro";

interface Props {
  className: string;
  iconProps: {
    variant: string;
    size?: "2xl" | "xl" | "lg" | "md" | "sm" | "xs";
  };
  placeholder: string;
  value: string;
  id?: string;
  type?: astroHTML.JSX.HTMLInputTypeAttribute;
  iconEnd?: boolean;
}

const { className, iconProps, placeholder, value, id, type, iconEnd } =
  Astro.props;
---

<div class={`input with icon ${className || ""}`.trim()}>
  {!iconEnd && Object.keys(iconProps).length > 0 && <Icon {...iconProps} />}
  <input
    placeholder={placeholder}
    autocomplete="off"
    value={value}
    id={id}
    type={type || "text"}
  />
  {iconEnd && Object.keys(iconProps).length > 0 && <Icon {...iconProps} />}
</div>
