@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";
@use "../design-system/blurs";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.blog.pressroom.viewer.container {
  .author {
    margin: 48px 0 16px;
    .title.tag {
      display: block;
      @include weights.semibold;
      margin: 16px 0 0;
    }
  }

  .content.wrapper {
    max-width: 720px;
    margin: 0 auto;

    .breadcrumb.trail {
      margin-bottom: 36px;
      margin-left: -8px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: flex;
      margin-top: 0;

      &:hover .heading.anchor {
        color: colors.$indigo-700;
      }
    }

    .article {
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: colors.$gray-900;
        margin-bottom: 20px;
      }

      p,
      ul,
      ol {
        @include styles.text-lg;
      }
      
      figure:has(figcaption) {
        padding: 0.5rem;
        margin: 0.5rem 0 1.5rem 0;
        border: 1px dashed colors.$gray-300;
        
        figcaption {
          font-style: italic;
          margin-top: 1em;
        }

        figcaption,
        figcaption p,
        figcaption ol,
        figcaption ul {
          color: colors.$gray-500;
          font-size: 0.78rem;
          line-height: 1.5em;
          text-align: center;
        }
    
        figcaption svg {
          height: 12px;
          width: auto;
        }
    
        figcaption a {
          color: colors.$gray-500;
    
          display: inline-flex;
          align-items: center;
        }
    
        figcaption a:hover {
          color: colors.$rose-400;
        }
      }
    }
  }
  .tags.container {
    .tag {
      padding: 2px 10px;
      @include styles.text-sm;
      @include weights.medium;
      gap: 8px;
    }
  }
}

.dark .blog.pressroom.viewer.container {
  .content.wrapper .article {
    color: dark.$secondary-color;

    a {
      color: colors.$primary-400;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:hover .heading.anchor {
        color: colors.$indigo-500;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: colors.$base-white;
    }

    p,
    ul,
    ol {
      color: colors.$gray-25;
    }

    figure:has(figcaption) {
      border: 1px dashed colors.$gray-600;

      figcaption,
      figcaption p,
      figcaption ol,
      figcaption ul {
        color: colors.$gray-300;
      }

      figcaption a {
        color: colors.$gray-400;
      }

      figcaption a:hover {
        color: colors.$rose-400;
      }
    }
  }
}

.medium-zoom--opened .medium-zoom-overlay,
.medium-zoom-image {
  z-index: 9999;
}

.dark {
  .medium-zoom-overlay {
    background-color: colors.$black !important;
  }
}
