---
import SocialShare from "../elements/SocialShare.astro";
import Tags from "../elements/Tags.astro";

import { toTagsWithHref } from "../../util/tag";
import { BlogOrPressroom } from "../../types/enum";

interface Props {
  type: BlogOrPressroom;
  title: string;
  intro: string;
  html: string;
  tags?: Tag[];
  pageUrl: string;
  showSocial: boolean;
}

const { type, title, intro, html, tags, pageUrl, showSocial } = Astro.props;
---

<div class="blog pressroom viewer full width container">
  <div class="content wrapper">
    <slot name="pre" />

    <div class="article" set:html={html} />

    <div class="author">
      By
      <span itemprop="author" itemscope itemtype="https://schema.org/Organization">
        <span itemprop="name">Neptune Mutual</span>
        <span itemprop="url" content="https://neptunemutual.com"></span>
      </span>

      <span class="title tag">Tags</span>
    </div>
    <Tags tags={toTagsWithHref(type, tags)} showAll />

    {showSocial && <SocialShare title={title} intro={intro} pageUrl={pageUrl} />}
    <slot name="post" />
  </div>
</div>
