@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";
@use "../design-system/blurs";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.content.viewer.container {
  word-break: break-word;
  padding-left: 86px;
  padding-right: 86px;
  padding-top: 56px;
  padding-bottom: 96px;

  .author {
    margin: 24px 0;
  }

  display: grid;
  gap: 64px;
  grid-template-columns: 4fr 9fr;

  @media (max-width: 1023px) {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 767px) {
    padding: 16px;
  }

  .sidebar {
    border-right: 1px solid colors.$gray-200;
    width: 324px;

    @media (max-width: 1023px) {
      display: none;
    }
  }

  .content.wrapper {
    .breadcrumb.trail {
      margin-bottom: 36px;
      margin-left: -8px;
    }

    pre {
      max-width: 700px;
      overflow: auto;
      padding: 1rem;
      margin-bottom: 2rem;
      background-color: colors.$gray-50;
      border: 1px solid colors.$gray-200;

      @media (max-width: 1023px) {
        max-width: 100%;
      }
    }

    img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }

    @media (max-width: 767px) {
      padding-bottom: 64px;
    }
  }

  .table.of.contents.container {
    padding-bottom: 20px;
    padding-right: 24px;

    @media (min-width: 1400px) {
      margin-left: auto;
    }

    @media (min-width: 1024px) {
      position: sticky;
      top: 100px;
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    }

    p {
      @include styles.text-md;
      @include weights.semibold;
      color: colors.$gray-500;
      padding-left: 8px;
    }

    a {
      color: colors.$gray-600;
      background-color: transparent;

      &.active {
        color: colors.$primary-700;
        background-color: colors.$primary-100;
      }

      &:not(.active):hover {
        color: colors.$gray-600;
        background-color: colors.$gray-200;
      }
    }

    a.title {
      display: block;
      @include styles.text-md;
      @include weights.semibold;

      padding: 4px 8px;
      border-radius: 4px;
      margin-top: 20px;
    }

    a.item {
      @include styles.text-md;
      @include weights.semibold;
      display: flex;
      border-radius: 4px;
      padding: 4px 8px;
      margin-bottom: 4px;
    }
  }
}

.content.wrapper .article {
  @include styles.text-lg;
  @include weights.regular;

  color: light.$secondary-color;

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;

    .heading.anchor {
      display: inline-block;
      margin-left: 0.5rem;
      opacity: 0;
      color: colors.$gray-400;
      font-weight: 300;
      user-select: none;
    }

    &:hover .heading.anchor {
      opacity: 1;
      text-decoration: none;

      &:hover {
        color: colors.$gray-600;
      }
    }
  }

  a {
    color: colors.$primary-600;

    &:hover {
      color: colors.$rose-600;
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors.$gray-900;
  }

  h2 {
    @include styles.display-sm;
    @include weights.semibold;

    margin-bottom: 20px;

    :not(:first-child) {
      margin-top: 20px;
    }

    @media screen and (max-width: 767px) {
      @include styles.display-xs;
      margin-bottom: 16px;
    }
  }

  h3 {
    margin: 16px 0;
    @include styles.display-xs;
    @include weights.semibold;
  }

  h4 {
    margin: 12px 0;
    @include styles.text-xl;
    @include weights.semibold;
  }

  img {
    filter: "inherit";
  }

  strong {
    @include weights.bold;
  }

  em {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  p,
  ul,
  ol {
    display: block;
    margin: 0 0 28px 0;

    color: colors.$gray-600;
    @include styles.text-lg;

    @media screen and (max-width: 767px) {
      @include styles.text-md;
    }
  }

  li {
    line-height: 28px;
  }

  blockquote {
    border-left: 2px solid colors.$primary-700;
    padding-left: 20px;
    margin-top: 48px;
    margin-bottom: 48px;
    @include styles.display-xs;
    @include weights.medium;

    font-style: italic;
  }

  img {
    display: inline-block;
    margin: 1rem auto;
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  figure:has(figcaption) {
    padding: 0.5rem;
    margin: 0.5rem 0 1.5rem 0;
    border: 1px dashed colors.$gray-300;

    figcaption {
      font-style: italic;
      margin-top: 1em;
    }

    figcaption,
    figcaption p,
    figcaption ol,
    figcaption ul {
      color: colors.$gray-500;
      font-size: 0.78rem;
      line-height: 1.5em;
      text-align: center;
    }

    figcaption svg {
      height: 12px;
      width: auto;
    }

    figcaption a {
      color: colors.$gray-500;

      display: inline-flex;
      align-items: center;
    }

    figcaption a:hover {
      color: colors.$rose-400;
    }
  }

  figure {
    overflow: hidden;
    border-radius: 1rem;
    margin: 0;
    padding: 0;

    p {
      margin: 0;
    }

    img {
      margin: unset !important;
      border-radius: 1rem;

      transition: 0.2s;
    }
  }

  iframe {
    margin: 2rem 0;
    width: 100%;
    min-height: 400px;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }

  /* External content */
  .gist {
    width: 100% !important;
  }

  .gist-file .gist-data {
    max-height: 100% !important;
    max-width: 100% !important;
  }

  .twitter-tweet.twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;
  }
}

.dark .content.viewer.container {
  .sidebar {
    border-right: 1px solid colors.$gray-800;
  }

  .table.of.contents.container {
    p {
      color: colors.$gray-300;
    }

    blockquote {
      border-left: 2px solid colors.$primary-500;
    }

    a {
      color: colors.$gray-25;

      &.active {
        color: colors.$gray-25;
        background-color: colors.$gray-700;
      }

      &:not(.active):hover {
        color: colors.$gray-25;
        background-color: colors.$gray-800;
      }
    }
  }

  .content.wrapper .article {
    color: dark.$secondary-color;

    pre {
      background-color: colors.$gray-900;
      border: 1px solid colors.$gray-800;
    }

    a {
      color: colors.$primary-400;
    }

    img {
      filter: "invert(100%)";
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: flex;

      &:hover .heading.anchor {
        &:hover {
          color: colors.$gray-300;
        }
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      color: colors.$white;
    }

    p,
    ul,
    ol {
      color: colors.$gray-25;
    }

    figure:has(figcaption) {
      border: 1px dashed colors.$gray-600;

      figcaption,
      figcaption p,
      figcaption ol,
      figcaption ul {
        color: colors.$gray-300;
      }

      figcaption a {
        color: colors.$gray-400;
      }

      figcaption a:hover {
        color: colors.$rose-400;
      }
    }
  }
}

// @todo: do not move this
// Can delete this after ghost migration to payload cms
.content.wrapper .article {
  .kg-bookmark-container {
    overflow: hidden;
    border-radius: 12px;
  }

  .kg-bookmark-container,
  .kg-bookmark-content {
    display: flex;
  }

  .kg-bookmark-description,
  .kg-bookmark-metadata {
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-box-orient: vertical;
  }

  .kg-bookmark-card + .kg-bookmark-card {
    margin-top: -35px;
  }

  .kg-bookmark-container {
    color: currentColor;
    position: relative;
    min-height: 150px;
    padding-bottom: 0;
    transition: transform 0.2s ease;
    text-decoration: none;
    background-color: colors.$primary-25;
  }

  .kg-bookmark-container:hover {
    transform: translateY(-4px);
  }

  .kg-bookmark-content {
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    padding: 20px;
  }

  .kg-bookmark-title {
    @include styles.text-md;
    @include weights.semibold;
  }

  .kg-bookmark-description {
    @include styles.text-md;
    @include weights.regular;

    --max-lines: 2;
    @include utils.max-lines;
  }

  .kg-bookmark-metadata {
    @include styles.text-sm;
    @include weights.bold;

    margin-top: 40px;

    --max-lines: 1;
    @include utils.max-lines;
  }

  .kg-bookmark-metadata .kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: -5px;
    border-radius: 0;
  }

  .kg-bookmark-metadata span:nth-of-type(2)::before {
    margin-right: 6px;
    margin-left: 6px;
    content: "•";
  }

  .kg-bookmark-thumbnail {
    position: relative;
    min-width: 28%;
    max-height: 100%;
  }

  .kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
  }

  /* These classes will be deprecated. Keep them for GScan validation. */
  .kg-bookmark-author,
  .kg-bookmark-publisher {
    display: inline;
  }

  /* Margin Elements */
  iframe,
  .kg-embed-card > div,
  .kg-embed-card > iframe,
  .kg-embed-card > .fb-post,
  .kg-embed-card > .twitter-tweet {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.dark .content.wrapper .article {
  .kg-bookmark-container {
    background-color: colors.$gray-700;
  }
}

.medium-zoom--opened .medium-zoom-overlay,
.medium-zoom-image {
  z-index: 9999;
}

.dark {
  .medium-zoom-overlay {
    background-color: colors.$black !important;
  }
}
