@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";
@use "../design-system/theme/dark";
@use "../design-system/theme/light";

footer {
  background-color: colors.$gray-50;
  padding-top: 64px;
  padding-bottom: 48px;

  @media (max-width: 767px) {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  > .inner.container {
    @include utils.full-width-container;
  }

  .copyright {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      gap: 24px;
    }

    .text {
      color: colors.$gray-500;

      @include styles.text-md;
      @include weights.regular;
    }
  }

  .nav.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 48px;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  .logo {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column;
    --gap: 32px;
    flex: 1;
    max-width: 767px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap);
  
    flex-direction: row;
  
    @media (max-width: 767px) {
      flex-direction: column;
    }

    .list {
      flex: 1;
    }

    h2{
      color: colors.$gray-500;

      @include styles.text-sm;
      @include weights.semibold;
    }

    ul {
      margin-top: 16px;
      padding-left: 0;
    
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    li {
      display: flex;

      @include styles.text-md;
      @include weights.semibold;
    }

    a {
      display:flex;
      color: light.$secondary-color;

      &:hover {
        color: colors.$gray-900;
      }
    }

    .badge {
      @include styles.text-sm;
      @include weights.medium;
      color: colors.$blue-dark-700;
      background: colors.$blue-dark-100;
      padding: 2px 10px;
      border-radius: 16px;
      margin-left: 8px;
    }
  }

  .risk.warning {
    margin-top: 48px;

    > .inner.container {
      padding: 32px 0;
      border-width: 1px 0px;
      border-style: solid;
      border-color: colors.$gray-200;
    }
    
    h4 {
      color: light.$color;
      @include styles.text-xl;
      @include weights.semibold;
    }

    p {
      color: colors.$gray-600;
      margin-top: 8px;
      @include styles.text-md;
      @include weights.regular;
    }
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    a {
      display: inline-flex;
      color: colors.$gray-800;

      &:hover {
        color: colors.$primary-600;
      }
    }
  }
}

.dark footer {
  background-color: colors.$gray-900;

  nav {
    h2{
      color: colors.$gray-400;
    }

    a {
      color: dark.$secondary-color;

      &:hover {
        color: colors.$gray-300;
      }
    }

    .badge {
      color: colors.$blue-dark-50;
      background-color: colors.$blue-dark-700;
    }
  }

  .copyright {
    .text {
      color: colors.$white;
    }
  }

  .risk.warning {

    > .inner.container {
      border-color: colors.$gray-600;
    }
    
    h3 {
      color: dark.$color;
    }

    p {
      color: colors.$gray-300;
    }
  }

  .social {
    a {
      color: colors.$white;

      &:hover {
        color: colors.$primary-600;
      }
    }
  }
}