@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.rich.text.container {
  @include weights.regular;
  @include styles.text-md;
  color: colors.$gray-600;
  overflow: hidden;

  // & > *:first-child {
  //   margin-top: 0;
  //   padding-top: 0;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;


    .heading.anchor {
      display: none;
      user-select: none;
      opacity: 0;
      font-weight: 300;
      color: colors.$gray-500;
      margin-left: 0.5rem;
    }

    &:hover .heading.anchor,
    &:active .heading.anchor {
      display: inline-block;
      opacity: 1;
      text-decoration: none;
      color: colors.$indigo-600;
      
      &:hover {
        color: colors.$gray-500;
      }
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors.$gray-900;
  }

  h2 {
    @include styles.display-sm;
    @include weights.semibold;

    margin-bottom: 20px;

    :not(:first-child) {
      margin-top: 20px;
    }

    @media screen and (max-width: 767px) {
      @include styles.display-xs;
      margin-bottom: 16px;
    }
  }

  h3 {
    margin: 16px 0;
    @include styles.display-xs;
    @include weights.semibold;
  }

  h4 {
    margin: 12px 0;
    @include styles.text-xl;
    @include weights.semibold;
  }

  a {
    color: colors.$primary-600;

    &:hover {
      color: colors.$rose-600;
    }
  }

  em {
    font-style: italic;
  }

  .underline {
    text-decoration: underline;
  }

  p,
  ul,
  ol {
    display: block;
    margin: 0 0 28px 0;

    color: inherit;
    @include styles.text-lg;

    @media screen and (max-width: 767px) {
      @include styles.text-md;
    }
  }

  p,
  ul,
  ol {
    margin: 0;
    margin-bottom: 1.5em;
  }

  li {
    line-height: 28px;
  }

  blockquote {
    border-left: 2px solid colors.$primary-700;
    padding-left: 20px;
    margin-top: 48px;
    margin-bottom: 48px;
    @include styles.display-xs;
    @include weights.medium;

    font-style: italic;
  }

  blockquote {
    margin-top: 0;
  }

  // Images
  img {
    display: inline-block;
    margin: 1rem auto;
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  figure {
    overflow: hidden;
    border-radius: 1rem;
    margin: 0;
    padding: 0;

    p {
      margin: 0;
    }

    img {
      margin: unset !important;
      border-radius: 1rem;

      transition: 0.2s;
    }
  }

  figure:has(figcaption) {
    padding: 0.5rem;
    margin: 0.5rem 0 1.5rem 0;
    border: 1px dashed colors.$gray-300;

    figcaption {
      font-style: italic;
      margin-top: 1em;
    }

    figcaption,
    figcaption p,
    figcaption ol,
    figcaption ul {
      color: colors.$gray-500;
      font-size: 0.78rem;
      line-height: 1.5em;
      text-align: center;
    }

    figcaption svg {
      height: 12px;
      width: auto;
    }

    figcaption a {
      color: colors.$gray-500;

      display: inline-flex;
      align-items: center;
    }

    figcaption a:hover {
      color: colors.$rose-400;
    }
  }

  /* External content */
  iframe {
    margin: 2rem 0;
    width: 100%;
    min-height: 400px;

    @media (max-width: 767px) {
      min-height: 300px;
    }
  }

  .twitter-tweet iframe {
    min-height: unset !important;
  }

  .gist {
    width: 100% !important;
  }

  .gist-file .gist-data {
    max-height: 100% !important;
    max-width: 100% !important;
  }

  .twitter-tweet.twitter-tweet-rendered {
    margin-left: auto;
    margin-right: auto;
  }

  .anchor.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    margin: 24px 0;

    @media (max-width: 767px) {
      flex-direction: column;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border: 1px solid colors.$gray-200;
      flex: 1;
      border-radius: 8px;

      @media (max-width: 767px) {
        width: 100%;
      }

      &:hover {
        background-color: colors.$gray-50;
        border-color: colors.$gray-300;
      }
    }
  }

  .pre.wrapper {
    position: relative;
  }

  pre {
    font-family: Consolas, Monaco, monospace;
    max-width: 100%;
    overflow: auto;
    @include styles.text-sm;
    background-color: light.$hljs-background-color;
    margin-bottom: 2em;
    border: 1px solid light.$hljs-border-color;
    padding: 1em 0;
    border-radius: 18px;

    code {
      animation: 500ms ease-out 0s 1 fadeIn;
      padding: 0 2em;
      display: block;
    }

    table {
      margin: -1em;
      margin-left: -2em;

      tr:first-child td {
        padding-top: 1em;
      }

      tr:last-child td {
        padding-bottom: 1em;
      }

      td:first-child {
        border-right: 1px solid light.$hljs-border-color;
      }
    }

    .hljs {
      @include weights.regular;
    }

    .hljs-copy {
      position: absolute;
      opacity: 0;
      pointer-events: none;
      top: 0.7em;
      border: 1px solid colors.$gray-300;
      padding: 0.3rem;
      padding-bottom: 0;
      border-radius: 0.2rem;
      right: 10px;
      color: colors.$gray-800 !important;
      background-color: light.$hljs-background-color-hover;
      transition: all 0.1s;

      &:hover {
        background-color: colors.$gray-200;
      }
    }

    &:hover {
      background-color: light.$hljs-background-color;

      .hljs-copy {
        opacity: 1;
        pointer-events: all;
      }
    }

    td.hljs-ln-line {
      padding: 0 1em;
    }

    .hljs,
    .hljs-variable,
    .hljs-title,
    .function_,
    .class_,
    .hljs-attr {
      color: light.$hljs-text-color;
      @include weights.regular;
    }

    .hljs-string {
      color: light.$hljs-string-color;
    }

    .hljs-title {
      color: light.$hljs-title-color;
    }

    .hljs-meta {
      color: light.$hljs-meta-color;
    }

    .hljs-keyword,
    .hljs-built_in {
      color: light.$hljs-keyword-color;
      @include weights.bold;
    }

    .hljs-function .hljs-title {
      color: light.$hljs-function-title-color;
    }

    .hljs-params {
      color: light.$hljs-text-color;
    }

    .hljs-comment {
      color: light.$hljs-comment-color;
      @include weights.regular;
    }
  }

  blockquote {
    @include styles.text-md;
    @include weights.regular;
    background-color: colors.$gray-neutral-100;
    border-left: 0.5em solid colors.$gray-neutral-200;
    color: colors.$gray-600;
    transition: background 600ms linear;
    margin-bottom: 1em;

    &:hover {
      background-color: colors.$gray-neutral-200;
      border-color: colors.$gray-neutral-300;
      color: colors.$gray-700;
    }

    padding: 6rem;

    p:last-child {
      margin-bottom: 0;
    }

    .header {
      @include styles.text-xl;
      @include weights.semibold;
      color: colors.$gray-400;
    }
  }

  strong {
    @include weights.bold;
  }

  img {
    max-width: 100%;
    border-radius: 12px;
  }

  a {
    color: colors.$blue-700;
    @include weights.semibold;
    word-break: break-word;

    &:hover {
      color: colors.$rose-500;
    }
  }

  .anchor.block {
    align-items: center;

    a {
      padding: 1em;

      @include styles.text-md;
      @include weights.semibold;
      color: colors.$gray-600 !important;
      justify-content: flex-start;
      align-items: center;

      &::after {
        height: 14px;
        width: 14px;
        padding-left: 14px;
      }

      &:before {
        content: " ";
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg' class='icon'%3E%3Cpath d='M14 2.26953V6.40007C14 6.96012 14 7.24015 14.109 7.45406C14.2049 7.64222 14.3578 7.7952 14.546 7.89108C14.7599 8.00007 15.0399 8.00007 15.6 8.00007H19.7305M16 13H8M16 17H8M10 9H8M14 2H8.8C7.11984 2 6.27976 2 5.63803 2.32698C5.07354 2.6146 4.6146 3.07354 4.32698 3.63803C4 4.27976 4 5.11984 4 6.8V17.2C4 18.8802 4 19.7202 4.32698 20.362C4.6146 20.9265 5.07354 21.3854 5.63803 21.673C6.27976 22 7.11984 22 8.8 22H15.2C16.8802 22 17.7202 22 18.362 21.673C18.9265 21.3854 19.3854 20.9265 19.673 20.362C20 19.7202 20 18.8802 20 17.2V8L14 2Z' stroke='%23667085' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat no-repeat;
        background-position: center center;
        height: 24px;
        width: 24px;
        padding-right: 48px;
      }
    }
  }

  br {
    content: "";
    margin: 1.5em;
    display: block;
  }

  ul,
  ol {
    li {
      margin-top: 0.15em;
      margin-bottom: 0.25em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0.6em;
    @include weights.semibold;
    color: colors.$gray-700;

    .sub.title {
      margin-top: 0.5em;
      color: colors.$gray-500;
      @include styles.text-xl;
      @include weights.regular;
    }

  }

  h1 {
    @include styles.display-md;
  }

  h2 {
    @include styles.display-sm;
  }

  h3 {
    @include styles.display-xs;
  }

  h4 {
    @include styles.text-xl;
  }

  h5 {
    @include styles.text-lg;
  }

  h6 {
    @include styles.text-md;
  }

  iframe[allowfullscreen] {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 12px;
    display: block !important;
  }

  .table.container {
    border: 1px solid colors.$gray-200;
    border-radius: 10px;
    overflow-x: auto;
    margin-bottom: 1.5em;
  }

  table:not(code table) {
    border-spacing: 0;
    border-collapse: separate !important;
    overflow: auto;
    border-color: transparent;

    th,
    td {
      padding: 12px 24px;
    }
  }

  table {
    tr:first-child td {
      white-space: nowrap;
    }
  }

  :not(.table.container):not(code) {
    & > table {
      th:first-of-type,
      td:first-of-type {
        padding-left: 0;
        padding-right: 12px;
      }

      th:last-of-type,
      td:last-of-type {
        padding-left: 12px;
        padding-right: 0;
      }
    }
  }

  table.definition,
  table.striped,
  table.basic,
  table.collapsing,
  table.compact,
  table.padded {
    tr:first-child {
      background-color: colors.$gray-50;

      td:first-child,
      th:first-child {
        border-top-left-radius: 10px;
      }

      td:last-child,
      th:last-child {
        border-top-right-radius: 10px;
      }
    }

    th:not(:last-child),
    td:not(:last-child) {
      border-right: 1px solid colors.$gray-200;
    }

    tr:not(:last-child) > th,
    tr:not(:last-child) > td,
    tr:not(:last-child) > th,
    tr:not(:last-child) > td,
    tr:not(:last-child) > th,
    tr:not(:last-child) > td,
    tr:not(:last-child) > td,
    tr:not(:last-child) > th,
    thead:not(:last-child),
    tbody:not(:last-child),
    tfoot:not(:last-child) {
      border-bottom: 1px solid colors.$gray-200;
    }
  }

  @media (min-width: 1024px) {
    table.striped {
      tr:nth-child(odd) {
        background-color: colors.$gray-neutral-100;
      }
    }
  }

  table:not(:has(thead)) {
    tr:first-child {
      @include weights.semibold;
    }
  }

  @media (max-width: 1023px) {
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      border: unset !important;
    }

    table th,
    table td {
      border: 1px solid colors.$gray-200 !important;
      word-break: break-all;
    }

    .hljs {
      table th,
      table td {
        border: none !important;
      }

      table {
        width: 100% !important;

        tr:first-child {
          background-color: transparent !important;

          td {
            background-color: transparent !important;
          }
        }
      }

      td.hljs-ln-line.hljs-ln-numbers {
        width: 20px;
        border-right: 1px solid colors.$gray-800 !important;
      }
    }

    table {
      tr:first-child {
        background-color: colors.$white;

        td,
        th {
          background-color: colors.$gray-50;
          border-radius: 0 !important;
        }

        td:first-child,
        th:first-child {
          border-radius: 10px 0 0 0 !important;
        }

        td:last-child,
        th:last-child {
          border-radius: 0 10px 0 0 !important;
        }
      }
    }
  }
}

.dark .rich.text.container {
  color: colors.$gray-100;

  a {
    color: colors.$blue-400;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors.$gray-200;

    .heading.anchor {
      color: colors.$gray-200;
    }

    &:hover .heading.anchor {
      color: colors.$indigo-500;
    }

    &:hover .heading.anchor:hover {
      color: colors.$gray-300;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: colors.$base-white;
  }

  p,
  ul,
  ol {
    color: colors.$gray-25;
  }

  figure:has(figcaption) {
    border: 1px dashed colors.$gray-600;

    figcaption,
    figcaption p,
    figcaption ol,
    figcaption ul {
      color: colors.$gray-300;
    }

    figcaption a {
      color: colors.$gray-400;
    }

    figcaption a:hover {
      color: colors.$rose-400;
    }
  }

  .kg-bookmark-container {
    background-color: colors.$gray-700;
  }

  .anchor.block {
    a {
      border: 1px solid colors.$gray-800;

      &:hover {
        background-color: colors.$gray-iron-900;
        border-color: colors.$gray-iron-800;
      }
    }
  }

  pre {
    background-color: dark.$hljs-background-color;
    border-color: dark.$hljs-border-color;

    table {
      td:first-child {
        border-right-color: dark.$hljs-border-color;
      }
    }

    .hljs-copy {
      border-color: colors.$gray-600;
      color: colors.$gray-300 !important;
      background-color: dark.$hljs-background-color-hover;

      &:hover {
        background-color: dark.$hljs-background-color;
      }
    }

    &:hover {
      border-color: dark.$hljs-border-color;
      background-color: dark.$hljs-background-color-hover;
    }

    .hljs,
    .hljs-variable,
    .hljs-title,
    .function_,
    .class_,
    .hljs-attr {
      color: dark.$hljs-text-color;
    }

    .hljs-string {
      color: dark.$hljs-string-color;
    }

    .hljs-title {
      color: dark.$hljs-title-color;
    }

    .hljs-meta {
      color: dark.$hljs-meta-color;
    }

    .hljs-keyword,
    .hljs-built_in {
      color: dark.$hljs-keyword-color;
    }

    .hljs-function .hljs-title {
      color: dark.$hljs-function-title-color;
    }

    .hljs-params {
      color: dark.$hljs-text-color;
    }

    .hljs-comment {
      color: dark.$hljs-comment-color;
    }
  }

  blockquote {
    background-color: colors.$gray-neutral-800;
    border-left: 0.5em solid colors.$gray-neutral-600;
    color: colors.$gray-neutral-100;

    &:hover {
      background-color: colors.$gray-neutral-900;
      border-color: colors.$gray-neutral-700;
      color: colors.$gray-neutral-50;
    }

    .header {
      color: colors.$gray-neutral-400;
    }
  }

  a {
    color: colors.$blue-500;

    &:hover {
      color: colors.$rose-300;
    }
  }

  .anchor.block {
    a {
      color: colors.$gray-200 !important;
      justify-content: flex-start;
      align-items: center;
    }
  }



  .table.container {
    border-radius: 10px;
    border-color: colors.$gray-800;
  }

  table.definition,
  table.striped,
  table.basic,
  table.collapsing,
  table.compact,
  table.padded {
    tr:first-child {
      background-color: dark.$primary-background-color;
    }

    th:not(:last-child),
    td:not(:last-child) {
      border-right: 1px solid colors.$gray-800;
    }

    tr:not(:last-child) > th,
    tr:not(:last-child) > td,
    tr:not(:last-child) > th,
    tr:not(:last-child) > td,
    tr:not(:last-child) > th,
    tr:not(:last-child) > td,
    tr:not(:last-child) > td,
    tr:not(:last-child) > th,
    thead:not(:last-child),
    tbody:not(:last-child),
    tfoot:not(:last-child) {
      border-bottom: 1px solid colors.$gray-800;
    }
  }

  table.striped {
    tr:nth-child(odd) {
      background-color: dark.$primary-background-color;
    }
  }

  @media (max-width: 1023px) {
    table th,
    table td {
      border: 1px solid colors.$gray-800 !important;
      word-break: break-word;
    }

    .hljs {
      table th,
      table td {
        border: none !important;
      }
    }

    table {
      tr:first-child {
        background-color: colors.$gray-900;

        td,
        th {
          background-color: colors.$gray-900;
        }
      }
    }
  }
}

// Medium image zoom
.medium-zoom--opened .medium-zoom-overlay,
img.medium-zoom-image--opened {
  z-index: 9999;
}

.dark .medium-zoom-overlay {
  background-color: colors.$black !important;
}

// @todo: do not move this
// Can delete this after ghost migration to payload cms
.rich.text.container {
  .kg-bookmark-container {
    overflow: hidden;
    border-radius: 12px;
  }

  .kg-bookmark-container,
  .kg-bookmark-content {
    display: flex;
  }

  .kg-bookmark-description,
  .kg-bookmark-metadata {
    display: -webkit-box;
    overflow-y: hidden;
    -webkit-box-orient: vertical;
  }

  .kg-bookmark-card + .kg-bookmark-card {
    margin-top: -35px;
  }

  .kg-bookmark-container {
    color: currentColor;
    position: relative;
    min-height: 150px;
    padding-bottom: 0;
    transition: transform 0.2s ease;
    text-decoration: none;
    background-color: colors.$primary-25;
  }

  .kg-bookmark-container:hover {
    transform: translateY(-4px);
  }

  .kg-bookmark-content {
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    justify-content: start;
    padding: 20px;
  }

  .kg-bookmark-title {
    @include styles.text-md;
    @include weights.semibold;
  }

  .kg-bookmark-description {
    @include styles.text-md;
    @include weights.regular;

    --max-lines: 2;
    @include utils.max-lines;
  }

  .kg-bookmark-metadata {
    @include styles.text-sm;
    @include weights.bold;

    margin-top: 40px;

    --max-lines: 1;
    @include utils.max-lines;
  }

  .kg-bookmark-metadata .kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
    margin-bottom: -5px;
    border-radius: 0;
  }

  .kg-bookmark-metadata span:nth-of-type(2)::before {
    margin-right: 6px;
    margin-left: 6px;
    content: "•";
  }

  .kg-bookmark-thumbnail {
    position: relative;
    min-width: 28%;
    max-height: 100%;
  }

  .kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0;
  }

  /* These classes will be deprecated. Keep them for GScan validation. */
  .kg-bookmark-author,
  .kg-bookmark-publisher {
    display: inline;
  }

  /* Margin Elements */
  iframe,
  .kg-embed-card > div,
  .kg-embed-card > iframe,
  .kg-embed-card > .fb-post,
  .kg-embed-card > .twitter-tweet {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}
