---
import Icon from "../elements/Icon.astro";

interface Props {
  inputPlaceholder: string;
}

const { inputPlaceholder } = Astro.props;
---

<div class="initially hidden search dimmer">
  <div class="ui search modal">
    <div class="input wrapper">
      <div class="search header input">
        <Icon size="lg" variant={"search-lg"} />
        <input
          type="search"
          placeholder={inputPlaceholder}
          id="ModalSearchInputSearch"
        />
        <button class="clear">
          <Icon size="lg" variant={"x-close"} />
        </button>
      </div>
    </div>

    <div class="search result"></div>
  </div>
</div>
