---
import Icon from "../elements/Icon.astro";
import Pagination from "../elements/Pagination.astro";

interface Props {
  inputPlaceholder: string;
}

const { inputPlaceholder } = Astro.props;
---

<div class="initially hidden search dimmer">
  <div class="ui search modal" data-page="1">
    <div class="input wrapper">
      <div class="search header input">
        <Icon size="lg" variant={"search-lg"} />
        <input
          type="search"
          placeholder={inputPlaceholder}
          autocomplete="off"
          id="ModalSearchInputSearch"
        />
        <button class="clear">
          <Icon size="lg" variant={"x-close"} />
        </button>
      </div>
    </div>

    <div class="search result"></div>

    <div class="search footer">
      <Pagination className="no padding" currentPage={1} totalPages={1} />
    </div>
  </div>
</div>
