@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/shadows";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";
@use "../design-system/icons";

.dimmer {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.8);

  .ui.search.modal {
    width: 720px;
    min-height: 300px;
    max-height: 80vh;
    overflow: auto;
    background-color: colors.$white;
    border: 1px solid colors.$gray-300;
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .search.footer {
      position: sticky;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: light.$primary-background-color;

      .ui.pagination .container {
        padding: 16px;
      }
    }

    .input.wrapper {
      padding: 16px 16px 8px 16px;
      background-color: light.$primary-background-color;
      position: sticky;
      top: 0;
      z-index: 10;
    }

    .search.input {
      display: flex;
      gap: 16px;
      align-items: center;
      padding: 8px 16px;
      border: 1px solid colors.$gray-300;
      border-radius: 25px;

      .icon {
        color: colors.$gray-500;
        width: 18px;
        height: 18px;
      }

      input {
        @include styles.text-md;
        @include weights.regular;
        width: 100%;
        outline: none;

        // remove default `x` icon on search inputs
        &::-webkit-search-decoration,
        &::-webkit-search-cancel-button,
        &::-webkit-search-results-button,
        &::-webkit-search-results-decoration {
          -webkit-appearance:none;
        }
      }

      // hide `x` button when input empty
      input:placeholder-shown + button.clear {
        display: none;
      }
    }

    .search.result {
      display: flex;
      flex-direction: column;
      padding: 8px 16px 16px 16px;
      background-color: colors.$gray-25;
      flex-grow: 1;

      .highlighted {
        background-color: colors.$yellow-50;
      }

      .match {
        @include weights.bold;
        color: colors.$blue-600;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding: 20px 16px;
        color: colors.$gray-700;
        border-radius: 8px;
        border: 1px solid transparent;


        .header {
          display: flex;
          gap: 12px;
          padding: 4px;
          @include styles.text-md;
          @include weights.medium;
          flex-wrap: wrap;
          justify-content: space-between;

          .icon.with.title {
            display: flex;
            gap: 10px;
          }

          .file.icon {
            background-image: icons.$file-04;
            background-repeat: no-repeat;
            height: 20px;
            width: 20px;
            flex-shrink: 0;
          }

          .title {
            line-height: 1.3;
          }       

          .link.icon {
            background-image: icons.$arrow-up-right;
            background-repeat: no-repeat;
            height: 18px;
            width: 18px;
            background-size: contain;
            border-radius: 4px;

            &:hover {
              background-color: #ffffff30;
            }
            
            @media (min-width: 768px) {
              opacity: 0;
            }

            @media (max-width: 474px) {
              display: none;
            }
          }
        }

        .content {
          color: colors.$gray-600;
          padding: 4px;
          margin-left: 32px;
          @include styles.text-sm;
          @include weights.regular;
          word-break: break-all;

          @media (max-width: 767px) {
            --lines-to-show: 3;
            margin-left: 0;

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            line-clamp: var(--lines-to-show); 
            -webkit-line-clamp: var(--lines-to-show); /* number of lines to show */
            -webkit-box-orient: vertical;
          }
        }

        .footer {
          margin-left: 40px;
          gap: 16px;
          display: flex;
          opacity: 1;
          gap: 8px;

          .copy.button,
          .open.link,
          .external.link {
            padding: 0;
            border-radius: 4px;
            display: flex;
            align-items: center;
            gap: 4px;

            @include styles.text-sm;
            @include weights.medium;
            color: colors.$gray-600;

            &:hover {
              background-color: #ffffff30;
            }

            @media (min-width: 768px) {
              span {
                display: none;
              }
            }
          }

          .external.link {
            display: none;

            @media (max-width: 474px) {
              display: flex;
            }
          }

          .link.icon,
          .copy.icon {
            height: 24px;
            width: 24px;
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: center center;
            border-radius: 4px;
          }

          .link.icon {
            background-image: icons.$arrow-narrow-right;
          }
          
          .copy.icon {
            background-image: icons.$copy-04;
          }
          
          .ext.link.icon {
            background-image: icons.$arrow-up-right;
          }

          @media (min-width: 768px) {
            opacity: 0;
          }

          @media (max-width: 767px) {
            margin-left: 0;
          }
        }

        &:hover {
          background-color: colors.$blue-dark-700;
          color: colors.$white;

          span {
            color: colors.$white;
          }

          .header {
            .file.icon {
              background-image: icons.$file-04-hover;
            }
  
            .link.icon {
              background-image: icons.$arrow-up-right-hover;
            }
          }

          .match {
            color: colors.$white;
          }
          
          .content {
            color: colors.$primary-200;
          }

          .footer {
            .copy.icon {
              background-image: icons.$copy-04-hover;
            }

            .link.icon {
              background-image: icons.$arrow-narrow-right-hover;
            }

            .ext.link.icon {
              background-image: icons.$arrow-up-right-hover;
            }
          }
        }

        &:hover,
        &:focus-within {
          .header {
            .link.icon {
              opacity: 1;
            }
          }

          .footer {
            opacity: 1;
          }
        }
      }
    }
    
    @media (max-width: 767px) {
      max-width: 90%;
      margin-top: 5%;
    }
  }
}

.dark .dimmer {
  .ui.search.modal {
    background-color: colors.$gray-800;
    border: 1px solid colors.$gray-800;

    .input.wrapper {
      background-color: dark.$primary-background-color;
    }

    .search.input {
      border: 1px solid colors.$gray-700;
    }

    .search.footer {
      background-color: dark.$primary-background-color;
    }

    .search.result {
      background-color: dark.$primary-background-color;

      .highlighted {
        background-color: colors.$gray-700;
      }

      .item {
        color: colors.$white;


        .header {
          span {
            color: colors.$primary-300;
          }

          .file.icon {
            background-image: icons.$file-04-dark;
          }

          .link.icon {
            background-image: icons.$arrow-up-right-dark;
          }
        }

        .content {
          color: colors.$gray-50;
        }

        .footer {
          span {
            color: colors.$primary-300;
          }

          .copy.icon {
            background-image: icons.$copy-04-dark;
          }
          
          .link.icon {
            background-image: icons.$arrow-narrow-right-dark;
          }
          
          .ext.link.icon {
            background-image: icons.$arrow-up-right-dark;
          }
        }

        &:hover,
        &:focus-within {
          .header {
            .file.icon {
              background-image: icons.$file-04-hover;
            }
  
            .link.icon {
              background-image: icons.$arrow-up-right-hover;
            }

            span {
              color: colors.$white;
            }
          }

          .footer {
            .copy.icon {
              background-image: icons.$copy-04-hover;
            }
            
            .link.icon {
              background-image: icons.$arrow-narrow-right-hover;
            }

            .ext.link.icon {
              background-image: icons.$arrow-up-right-hover;
            }

            span {
              color: colors.$white;
            }
          }
        }
      }
    }
  }
}
