---
import { slugify } from '../../util/slug'
import Icon from '../elements/Icon.astro'

interface Props {
  toc: TableOfContentsProp
  showLabel?: boolean
  showTitle?: boolean
}

const { toc: {title, items}, showLabel=true, showTitle=true } = Astro.props

const t = (x:string) => x
---

<div class="table of contents container">
  {showLabel && (
    <p class="label">{t('Table of Contents')}</p>
  )}
  
  { (showTitle && title) && (
    <a class="active title item" href={'#' + slugify(title)}>{title}</a>
  )}

  {
    items?.length
      ? (
        <div class="content">
          {
            items.map(({text, type, href, icon, id, active}) => (
              <div class="header">
                <a class={`item ${active ? "active" : ""}`}
                style={`margin-left: ${(type ?? 2) * 8}px`}
                  href={id ? `#${id || ''}`: `${href || ''}`}
                >
                  {icon && <Icon variant={icon} size={'sm'} />}
                  <span>{text}</span>
                </a>
              </div>
            ))
        }
        </div>
        )
      : <></>
  }

</div>