@use "../design-system/utils";
@use "../design-system/colors";
@use "../design-system/theme/light";
@use "../design-system/theme/dark";
@use "../design-system/blurs";
@use "../design-system/typography/styles";
@use "../design-system/typography/weights";

.table.of.contents.container {
  padding-bottom: 20px;

  @media (min-width: 1400px) {
    margin-left: auto;
  }

  @media (min-width: 1024px) {
    position: sticky;
    top: 100px;

    // max-height: calc(100vh - 100px);
    height: max-content;
    overflow-y: auto
  }


  p {
    @include styles.text-md;
    @include weights.semibold;
    color: colors.$gray-500;
    padding-left: 8px;
  }

  a {
    color: colors.$gray-600;
    background-color: transparent;

    &.active {
      color: colors.$primary-700;
      background-color: colors.$primary-100;
    }

    &:not(.active):hover {
      color: colors.$gray-600;
      background-color: colors.$gray-200;
    }
  }

  a.title {
    display: block;
    @include styles.text-md;
    @include weights.semibold;

    padding: 4px 8px;
    border-radius: 4px;
    margin-top: 20px;
  }

  a.item {
    @include styles.text-md;
    @include weights.semibold;
    display: flex;
    border-radius: 4px;
    padding: 4px 8px;
    margin-bottom: 4px;

    gap: 4px;

    i[data-size] {
      align-items: center;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.dark .table.of.contents.container {
  p {
    color: colors.$gray-300;
  }

  blockquote {
    border-left: 2px solid colors.$primary-500;
  }

  a {
    color: colors.$gray-25;

    &.active {
      color: colors.$gray-25;
      background-color: colors.$gray-600;
    }

    &:not(.active):hover {
      color: colors.$gray-25;
      background-color: colors.$gray-700;
    }
  }
}