---
interface Props {
  tabItems: TabItem[];
}

const { tabItems } = Astro.props;
---

<div class="ui outlined tab list">
  {
    tabItems.map(({ text, href, active }) => (
      <a data-active={Boolean(active).toString()} class="item" href={href}>
        {text}
      </a>
    ))
  }
</div>
