---
interface Props {
  tabItems: TabItem[];
}

const { tabItems } = Astro.props;
---

<div class="ui outlined tab list">
  {
    tabItems.map(({ text, href, active }) => (
      <a class={`${active ? "active" : ""} item`.trim()} href={href}>
        {text}
      </a>
    ))
  }
</div>
