@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/blurs";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/shadows";

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

.hack.table.container {
  margin-top: 56px;
  margin-bottom: 204px;
  width: 100%;
  overflow: hidden;
  border: 1px solid colors.$gray-300;
  border-radius: 12px;

  .icon.chevron.down {
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M6 9L12 15L18 9" stroke="%23#{str-replace(#{colors.$black}, "#", "")}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 1.2em;
    height: 1.2em;
    background-size: cover;
    cursor: pointer;
    display: block;
  }
  
  .icon.external.link {
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M21 9L21 3M21 3H15M21 3L13 11M10 5H7.8C6.11984 5 5.27976 5 4.63803 5.32698C4.07354 5.6146 3.6146 6.07354 3.32698 6.63803C3 7.27976 3 8.11984 3 9.8V16.2C3 17.8802 3 18.7202 3.32698 19.362C3.6146 19.9265 4.07354 20.3854 4.63803 20.673C5.27976 21 6.11984 21 7.8 21H14.2C15.8802 21 16.7202 21 17.362 20.673C17.9265 20.3854 18.3854 19.9265 18.673 19.362C19 18.7202 19 17.8802 19 16.2V14" stroke="%23#{str-replace(#{colors.$primary-600}, "#", "")}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    width: 1.2em;
    height: 1.2em;
    background-size: cover;
    display: block;
  }

  .chain-icons {
    display: flex;
    flex-direction: row;
    gap: 2px;
  }

  .description {
    background-color: colors.$primary-25;
  }

  .description.wrapper {
    position: relative;
  }

  .description.content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  a.disabled {
    cursor: not-allowed;
  }

  .table.footer {
    padding: 0 0 16px 0;
  }

  .table.prefix {
    padding: 20px 24px;

    .prefix.container {
      display: flex;

      @media (max-width: 767px) {
        display: block;
      }
      
      & > div:first-of-type {
        flex-grow: 1;
      }
      & > div:last-of-type {
        width: 400px;

        @media (max-width: 767px) {
          width: 100%;
          margin-top: 18px;
        }
      }

      .prefix.header {
        @include weights.semibold;
        @include styles.text-lg;
      }

      .prefix.subtitle {
        @include styles.text-md;
      }
      
      .hack.counter {
         background-color: colors.$error-600;
         padding: 0 4px;
         border-radius: 4px;
         color: colors.$white;
        @include styles.text-sm;
      }
    }
  }

  .table.wrapper {
    overflow-x: auto;
  }

  table {
    overflow: hidden;
    border-spacing: 0px;
    width: 100%;

    thead {
      background-color: colors.$gray-50;

      th {
        text-align: left;
        padding: 13px 16px;
        border-bottom: 1px solid colors.$gray-200;
        color: colors.$gray-600;

        span {
          @include styles.text-xs;
          @include weights.medium;
        }

        button {
          display: flex;
          align-items: center;
          gap: 4px;

          color: colors.$gray-600;

          &.desc {
            svg {
              transform: scaleY(-1);
            }
          }
        }
      }
    }

    tbody {
      tr {

        &:not(.loading, .no.data, .description):hover {
          background-color: colors.$gray-100;
        }

        td {
          text-align: left;
          padding: 26px 16px;

          @include styles.text-sm;
          @include weights.regular;

          &.inverted {
            i {
              transform:  scaleY(-1);
            }
          }
        }

        &:not(:last-of-type) {
          td {
            border-bottom: 1px solid colors.$gray-200;
          }
        }
      }
    }
  }
}

.dark .hack.table.container {
  border: 1px solid colors.$gray-800;

  .icon.chevron.down {
    background-image: 
    url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M6 9L12 15L18 9" stroke="%23#{str-replace(#{colors.$white}, "#", "")}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');

    &.disabled {
      cursor: not-allowed;
    }
  }

  .icon.external.link {
    background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="icon"><path d="M21 9L21 3M21 3H15M21 3L13 11M10 5H7.8C6.11984 5 5.27976 5 4.63803 5.32698C4.07354 5.6146 3.6146 6.07354 3.32698 6.63803C3 7.27976 3 8.11984 3 9.8V16.2C3 17.8802 3 18.7202 3.32698 19.362C3.6146 19.9265 4.07354 20.3854 4.63803 20.673C5.27976 21 6.11984 21 7.8 21H14.2C15.8802 21 16.7202 21 17.362 20.673C17.9265 20.3854 18.3854 19.9265 18.673 19.362C19 18.7202 19 17.8802 19 16.2V14" stroke="%23#{str-replace(#{colors.$primary-200}, "#", "")}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  }

  table {
    thead {
      background-color: colors.$black-800;

      th {
        border-bottom: 1px solid colors.$black-800;
        color: colors.$white;

        button {
          color: colors.$white;
        }
      }
    }

    .description {
      background-color: colors.$gray-900 !important;
    }

    tbody {
      tr {
        &:not(.loading, .no.data):hover {
          background-color: colors.$gray-900;
        }
      }


      tr:not(:last-of-type) {
        td {
          border-bottom: 1px solid colors.$gray-800;
        }
      }
    }
  }
}