@use "../../design-system/utils";
@use "../../design-system/colors";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";
@use "../../design-system/shadows";
@use "../../design-system/blurs";

.about.us.section .team.full.width.container {
  margin-top: 116px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 64px;

  background-color: colors.$white;

  @media screen and (max-width: 767px) {
    margin-top: 64px;
    margin-bottom: 64px;
    padding-bottom: 0;
  }

  > .content {
    text-align: center;

    max-width: 768px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;

    h2 {
      display: flex;
      flex-direction: column;
      gap:12px;

      @include styles.display-md;
      @include weights.semibold;
    
      @media (max-width: 767px) {
        @include styles.display-sm;
      }    
    }
    
    a {
      margin-left: auto;
      margin-right: auto;
      width: max-content;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: center;
    
      @include styles.text-md;
      @include weights.semibold;
    
      color: colors.$primary-600;
    }
  }

  .team.member.list.container {

    .ui.team.member.list {
      display: inline-flex;
      flex-direction: row;
      gap: 8px;
    }  
  }

  .slider.container {
    gap: 64px;
    
    .arrows {
      justify-content: center;
    }    
  }
}

.dark .about.us.section .team.full.width.container {
  background-color: colors.$gray-800;

  > .content {
    
    a {
      color: colors.$primary-300;   
    }
  }
}