---
import Header from "../components/Header/Header.astro";
import Footer from "../components/Footer.astro";
import { env } from "../../util/env";

interface Props {
  headerStyle?: "default" | "colored";
}

const { headerStyle } = Astro.props;

const server = env("FORMS_API_SERVER");
const mock = env("MOCK");
const googleAnalyticsId = env("GA_ID");
const clarityTrackingCode = env("CLARITY_TRACKING_CODE");
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <slot name="seo" />
    <slot name="header" />
    <script
      type="text/javascript"
      nonce="j+h4QPo2G1leKJxLFUVrGw=="
      define:vars={{ server, mock, googleAnalyticsId, clarityTrackingCode }}
    >
      const loadTheme = async (el) => {
        const theme = getTheme();

        if (el) {
          el.checked = theme === "dark";
        }

        theme === "dark"
          ? document.documentElement.classList.add("dark")
          : document.documentElement.classList.remove("dark");
      };

      const getTheme = () => {
        // Look for URL search param `theme` for first source of truth
        const urlSearch = window.location.search;

        if (urlSearch) {
          const params = new URLSearchParams(urlSearch.slice(1));

          if (
            params.has("theme") &&
            ["dark", "light"].includes(params.get("theme"))
          ) {
            return params.get("theme");
          }
        }

        const theme = window.localStorage.getItem("theme");

        if (theme) {
          return theme;
        }

        const prefersDarkMode =
          window.matchMedia &&
          window.matchMedia("(prefers-color-scheme: dark)").matches;

        return prefersDarkMode ? "dark" : "light";
      };

      const theme = getTheme();

      theme === "dark" && document.documentElement.classList.add("dark");

      window.getTheme = getTheme;
      window.loadTheme = loadTheme;
      window.server = server;
      window.mock = mock === "true";
      window.googleAnalyticsId = googleAnalyticsId;
      window.clarityTrackingCode = clarityTrackingCode;
    </script>
  </head>
  <body>
    <Header headerStyle={headerStyle || "colored"} />
    <main>
      <slot />
    </main>
    <Footer />
    <slot name="footer" />
  </body>
</html>
