---
import FeaturedIcon from "../../../elements/FeaturedIcon.astro";

const features: FeatureItem[] = [
  {
    icon: "code-square-01",
    title: "Write Less Code",
    text: "Write less code and plug in your own Web3 provider. Get complete access to all DeFi cover features.",
  },
  {
    icon: "bell-02",
    title: "Use Anywhere",
    text: "Built on Typescript, the Cover SDK works on both frontend and backend environments, on any framework.",
  },
  {
    icon: "chart-breakout-square",
    title: "Attract Liquidity",
    text: "With our support, you can get more visibility to bootstrap liquidity into your own DeFi cover pool.",
  },
];
---

<div class="lets buidl feature list">
  {
    features.map((feature) => (
      <div class="item">
        <FeaturedIcon variant={feature.icon} size="lg" />
        <h3>{feature.title}</h3>
        <p>{feature.text}</p>
      </div>
    ))
  }
</div>
