@use "../../design-system/colors";
@use "../../design-system/shadows";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.history.container {
  padding: 24px;
  border: 1px solid colors.$gray-300;
  border-radius: 8px;
  height: max-content;
  width: 100%;

  & > div.title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;

    .history.title {
      color: colors.$gray-900;
      @include styles.text-lg;
      @include weights.bold;
    }

    button.new {
      @include styles.text-sm;
      @include weights.semibold;
      padding: 4px;
      border-radius: 4px;
      color: colors.$gray-900;

      &:not(:disabled) {
        &[data-state="hover"], &:hover {
          background-color: colors.$gray-100;
        }
      }
    }
  }

  .action.section {
    border-bottom: 1px solid colors.$gray-300;
    margin-top: 16px;
    padding: 0 0 8px 4px;
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      height: 16px;
      width: 16px;
    }

    button {
      padding: 4px;
      border-radius: 4px;

      &:hover {
        background-color: colors.$gray-100;
      }
      
      i {
        color: colors.$gray-900;
      }
      
      &.new {
        margin-left: auto;
      }
    }


    input {
      height: 15px;
      margin: 0;
    }

    div.buttons {
      display: flex;
      gap: 4px;
    }

    div.cta,
    div.select.all {
      position: relative;

      .dropdown {
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        background-color: colors.$base-white;
        border: 1px solid colors.$gray-200;
        border-radius: 8px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        width: max-content;
        box-shadow: shadows.$lg;
        z-index: 9;

        button {
          width: 217px;
          padding: 4px 10px 4px 8px;
          border-radius: 6px;
          display: flex;
          justify-content: space-between;
        }

        @media (min-width: 1024px) {
          left: auto;
          right: 0;
        }
      }
    }

    div.select.all {
      display: flex;
      align-items: center;
      gap: 2px;

      .dropdown button {
        width: 100%;
      }
    }
  }


  .history.list {
    width: max(200px,100%);
    // max-width: 100%;
    padding: 0;
    margin-top: 8px;

    height: 302px;
    overflow-y: scroll;
    overflow-x: hidden;
  
    @media (min-width: 768px) {
      width: 100%;
    }

    display: flex;
    flex-direction: column;

    .item.wrapper {
      cursor: auto;
      &:hover {
        background-color: colors.$gray-50;
      }

      &.selected {
        background-color: colors.$primary-50;
      }

      .item.title {
        padding: 0px 4px;
        word-wrap: break-word;
        color: colors.$gray-900;
        cursor: pointer;
        list-style-type: none;
        display: flex;
        // display: grid;
        align-items: center;
        // grid-template-columns: auto 1fr auto;
        gap: 8px;
        @include styles.text-sm;
        @include weights.medium;
        height: max-content;

  
        .item {
          width: 100%;
          color: colors.$gray-900;
          @include weights.regular;
          text-align: left;
          padding: 8px 0;

          display: flex;
          justify-content: space-between;
          gap: 8px;
          overflow: hidden;
          text-overflow: ellipsis;

          
          span:first-child {
            /* word-break: break-all; */
            white-space: nowrap;
          }
        }

        button.toggle {
          padding: 2px 4px;
          border-radius: 4px;

          &:hover {
            background-color: colors.$gray-300;
          }
        }
      }
  
      .item.details {
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        padding: 10px;

        @include styles.text-sm;
        @include weights.regular;

        p {
          word-break: break-all;  
        }
        
        i {
          color: colors.$gray-600;
        }
        
        span {
          @include weights.medium;
        }
      }
    }

    hr {
      margin: 0;
      width: 100%;
      height: 1px;
      background-color: colors.$gray-100;
      flex-shrink: 0;
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  .error {
    color: colors.$error-800;
    margin-top: 6px;
    @include styles.text-sm;
    @include weights.regular;
  }
}

.dark .history.container {
  border: 1px solid colors.$gray-800;
  background-color: colors.$black-800;

  & > div.title {
    .history.title {
      color: colors.$base-white;
    }

    button.new {
      color: colors.$gray-300;
  
      &:not(:disabled) {
        &[data-state="hover"], &:hover {
          background-color: colors.$gray-700;
        }
      }
    }
  }


  .action.section {
    border-bottom: 1px solid colors.$gray-700;
    
    button {
      i {
        color: colors.$gray-300;
      }

      &:hover {
        background-color: colors.$gray-700;
      }
    }

    div.cta,
    div.select.all {
      .dropdown {
        background-color: colors.$gray-800;
        border: 1px solid colors.$gray-800;
      }
    }
  }


  .history.list {
    .item.wrapper {
      &:hover {
        background-color: colors.$gray-800;
      }

      &.selected {
        background-color: colors.$gray-700;
      }

      .item.title {
        color: colors.$base-white;
    
        .item {
          color: colors.$base-white;
        }

        button.toggle {
          &:hover {
            background-color: colors.$gray-700;
          }
        }
      }
      
      .item.details {        
        i {
          color: colors.$gray-400;
        }
      }
    }

    hr {
      background-color: colors.$gray-800;
    }
  }

  .error {
    color: colors.$error-300;
  }
}