@use "../../design-system/colors";
@use "../../design-system/shadows";
@use "../../design-system/typography/styles";
@use "../../design-system/typography/weights";
@use "../../design-system/theme/light";
@use "../../design-system/theme/dark";

.history.container {
  padding: 24px;
  border: 1px solid colors.$gray-300;
  border-radius: 8px;
  height: 302px;
  overflow-y: scroll;
  overflow-x: hidden;

  @media (min-width: 1024px) { 
    height: 516px;
  }

  .dark & {
    background-color: colors.$black-800;
    border: 1px solid colors.$gray-800;
  }

  .history.title {
    color: colors.$gray-900;
    @include styles.text-lg;
    @include weights.bold;

    .dark & {
      color: colors.$base-white;
    }
  }

  .delete.section {
    border-bottom: 1px solid colors.$gray-300;
    margin-top: 16px;
    padding: 4px 0 12px 0;
    display: flex;
    gap: 14px;

    input {
      height: 15px;
      margin: 0;
    }
  }

  .delete.btn {
    i {
      color: colors.$primary-700;
  
      .dark & {
        color: colors.$base-white;
      }
    }
  }

  .history.list {
    width: 342px;
    padding: 0;
    margin-top: 8px;
  
    @media (min-width: 768px) {
      width: 100%;
    }

    .history.list.item {
      word-wrap: break-word;
      color: colors.$gray-900;
      cursor: pointer;
      list-style-type: none;
      display: flex;
      margin-bottom: 8px;
      gap: 8px;
      @include styles.text-sm;
      @include weights.medium;

      .dark & {
        color: colors.$base-white;
      }

      .item {
        width: 100%;
        color: colors.$gray-900;
        @include weights.regular;

        .dark & {
          color: colors.$base-white;
        }
      }
    }

    .item.address {
      display: inline-block;
      padding: 10px;
      margin-bottom: 8px;
      width: 100%;
      word-wrap: break-word;
    
      background-color: colors.$primary-25;
      border-bottom: 1px solid colors.$gray-200;
    
      .dark & {
        background-color: colors.$gray-900;
        border-bottom: 1px solid colors.$gray-700;
      }
    }
  }

  input[type="checkbox"] {
    cursor: pointer;
  }

  .error {
    color: colors.$error-800;
    margin-top: 6px;
    @include styles.text-sm;
    @include weights.regular;

    .dark & {
      color: colors.$error-600;
    }
  }

  .cta {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 8px;
  
    button {
      color: colors.$primary-600;
      @include styles.text-sm;
      @include weights.semibold;
      background-color: colors.$base-white;
      border-radius: 8px;
      padding: 4px 12px;
  
      &:not(:disabled) {
        &[data-state="hover"], &:hover {
        color: colors.$primary-600 !important;
        }
      }
    }
  
    .dark & {
      button {
        color: colors.$gray-300;
        background: colors.$gray-900;
        border-color: colors.$gray-700;
  
        &:not(:disabled) {
          &[data-state="hover"], &:hover {
            color: colors.$gray-100 !important;
          }
        }
      }
    }
  }
}