@use "../../../design-system/utils";
@use "../../../design-system/colors";
@use "../../../design-system/typography/styles";
@use "../../../design-system/typography/weights";
@use "../../../design-system/theme/light";
@use "../../../design-system/theme/dark";

.nft.home.activities.section {
  padding: 96px 0;
  @include utils.full-width-container;

  display: flex;
  gap: 64px;

  & > *:nth-child(1) {
    width: 733px;
    flex-shrink: 1;
  }

  & > *:nth-child(2) {
    width: 419px;
    flex-shrink: 1;
  }
  & > div:nth-child(2) {
    & > *:not(:first-child) {
      margin-top: 32px;
    }
  }
}